.oak-header {
    padding: 30px 0;
    border-bottom: #d4d4d4 solid 1px;
    z-index: 9999;
    width: 100%;
}

.nav-item {
    color: var(--primary-color);
    font-size: 15px;
    font-family: var(--cd500);
    font-weight: 500;
    margin-right: 100px;
}

.nav-item:last-child {
    margin-right: 0px !important;

}

.dropdown-wrapper {
    margin-left: 8px;
}

.header-auth_item {
    border-right: 1px solid var(--secondary-color);
}

.oak-wallet_point {
    color: #00002F;
    font-family: var(--cd600);
    font-size: 15px;
}

.oak-wallet_name {
    width: 43px;
    height: 43px;
    flex-shrink: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--cd600);
    font-size: 20px;
    line-height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}