.disclaimerDiv{
    height: 100%;
    background-color: #DEDCDC;
    width:100%;
    display: flex;
    overflow-x: scroll;
    padding:20px;
    flex-direction: row;
    justify-content: center;
}
.disclaimerContent{
    width: 100%;
    padding: 20px;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    height: 100%;
}
.disclaimerContent .firstCon{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #FF4E00;
}

.disclaimerContent .firstCon .workedd{
font-size: 20px;
font-weight: 700;
color: #00002f;
}
.underLine{
    width: 117px;
    margin-top: -8px;
    height: 2px;
    background-color: #FF4E00;
}
.disclaimerContent .secondCon{
    width: 100%;
    margin-top: 10px;
    height: 100%;
}

.disclaimerContent .secondCon .worked{
font-size: 15px;
font-weight: 500;
color: #00002f;
}