.oakk-about-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.oak-home__bannerrr-img{
    top: -89px;
    left: 286px;
}
.oak-home__bannerrr-img img{
    width: 445.4px;
    height: 445.4px;
    
}

.oak-bannerr-header{
    z-index: 10;
    position: relative;
}
.oak-actual-about{
width: calc(100% - 120px);
height: 296px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 40px;
}
.oak-actual-about-content{
    border-radius: 20px;
    background-color: #F3F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.oak-actual-about-content .oak-actual-about-content-title{
    font-family: 'Clash Display';
    font-weight: 800;
    font-size: 20px;
    height: fit-content;
    width: fit-content;
    margin: 0;
    margin-top: 20px;
    color: #00002F;
}
.oak-actual-about-content .oak-actual-about-content-subtitle{
    font-family: 'Clash Display';
    font-weight: 500;
    font-size: 13px;
    height: fit-content;
    text-align: left;
    width: calc(100% - 35px);
    margin: 0;
    margin-top: 20px;
    color: #00002F;
}
.oak-actual-about-footer{
    height: 300px;
    width: 500px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.oak-actual-about-footer-con{
    height: 30px;
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.oak-actual-about-footer-con-icon{
    font-family: 'Clash Display';
    font-weight: 500;
    font-size: 28px;
    margin: 0;
    color: #020230;
}
.oak-actual-about-footer-sub{
    font-family: 'Clash Display';
    font-weight: 500;
    font-size: 17px;
    height: fit-content;
    width: fit-content;
    margin: 0;
    margin-top: 20px;
    color: #020230;
}
.theHeart{
    color: #FB0F00;
}
@media (max-width: 1100px) and (min-width:769px) {
    .oak-bannerr-header{
        font-size: 40px !important;
    }
.oak-home__bannerrr-img{
    top: 59px;
    left: 324px;
}
}

@media (max-width: 1100px) and (min-width:1001px) {
    
    .oak-home__bannerrr-img img{
        width: 639.98px;
        height: 298.24px;   
    }
    .oak-team__banner-img img{
        width: 600px;
        height: 308.24px;
    }
    }
@media (max-width: 1100px) and (min-width:901px) {
    
   
.oak-home__bannerrr-img{
    top: -9px;
    left: 206px;
}
.oak-home__bannerrr-img img{
        width: 350px;
        height: 358.24px;
    }
    
.oak-actual-about{
    width: calc(100% - 120px);
    height: 296px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    }
    .oak-actual-about-content{
        border-radius: 20px;
        background-color: #F3F1F1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .oak-actual-about-content .oak-actual-about-content-title{
        font-family: 'Clash Display';
        font-weight: 800;
        font-size: 16px;
        height: fit-content;
        width: fit-content;
        margin: 0;
        margin-top: 20px;
        color: #00002F;
    }
    .oak-actual-about-content .oak-actual-about-content-subtitle{
        font-family: 'Clash Display';
        font-weight: 500;
        font-size: 11px;
        height: fit-content;
        text-align: left;
        width: calc(100% - 35px);
        margin: 0;
        margin-top: 10px;
        color: #00002F;
    }
    }
    @media (max-width: 899px) and (min-width: 701px) {
        
    #about{
        margin-bottom: 0px !important;
    }
        .oak-bannerr-header{
            font-size: 40px !important;
        }
        .oak-home-bannerr{
            height: 360px !important;
        }
        .oak-home__bannerrr-img{
           
            position: relative;
            top: 30px;
            left: 290px;
        }
        .oak-home__bannerrr-img img{
            width: 340px;
            height: 370px;
            z-index: 9;
        }
    .oak-bannerr-header{
        margin-top: 120px;
        z-index: 10;
        height: fit-content !important;
        position: relative;
    }
        
    .oak-actual-about{
        width: calc(100% - 50px);
        height: 680px;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        }
        .oak-actual-about-content{
            background-color: transparent;
        }
        .oak-actual-about-content .oak-actual-about-content-title{
            font-size: 25px;
            height: fit-content;
            text-align: left;
           width: calc(100% - 35px);
        }
        .oak-actual-about-content .oak-actual-about-content-subtitle{
            font-size: 20px;
            width: calc(100% - 35px);
            margin-top: 10px;
        }
        
    .oak-actual-about-footer{
        height: 200px;
        width: calc(100% - 100px);
        margin-top: 30px;
    }
    .oak-actual-about-footer-con{
        height: 22px;
        width: 80px;
    }
    .oak-actual-about-footer-con-icon{
        font-size: 30px;
    }
    .oak-actual-about-footer-sub{
        font-size: 15px;
    }
        
    }
@media (max-width: 700px) and (min-width: 501px) {
    .oak-bannerr-header{
        font-size: 40px !important;
    }
    .oak-home-bannerr{
        height: 360px !important;
    }
    .oak-home__bannerrr-img{
       
        position: relative;
        top: 60px;
        left: 240px;
    }
    
    #about{
        margin-bottom: 0px !important;
    }
    .oak-home__bannerrr-img img{
        width: 240px;
        height: 270px;
        z-index: 9;
    }
.oak-bannerr-header{
    margin-top: 120px;
    z-index: 10;
    position: relative;
}
    
.oak-actual-about{
    width: calc(100% - 20px);
    height: 565px;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    }
    .oak-actual-about-content{
        background-color: transparent;
    }
    .oak-actual-about-content .oak-actual-about-content-title{
        font-size: 20px;
        height: fit-content;
        text-align: left;
       width: calc(100% - 35px);
    }
    .oak-actual-about-content .oak-actual-about-content-subtitle{
        font-size: 15px;
        width: calc(100% - 35px);
        margin-top: 10px;
    }
    
.oak-actual-about-footer{
    height: 200px;
    width: calc(100% - 100px);
    margin-top: 30px;
}
.oak-actual-about-footer-con{
    height: 22px;
    width: 70px;
}
.oak-actual-about-footer-con-icon{
    font-size: 20px;
}
.oak-actual-about-footer-sub{
    font-size: 12px;
}
    
}
@media (max-width: 500px) and (min-width: 200px) {
    .oak-home-bannerr{
        height: 360px !important;
        
    }
    #about{
        margin-bottom: 0px !important;
    }
    .oak-home__bannerrr-img{
       
        position: relative;
        top: 60px;
        left: 150px;
    }
    .oak-home__bannerrr-img img{
        width: 240px;
        height: 270px;
        z-index: 9;
    }
.oak-bannerr-header{
    margin-top: 120px;
    z-index: 10;
    position: relative;
}
    
.oak-actual-about{
    width: calc(100% - 20px);
    height: 485px;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    }
    .oak-actual-about-content{
        background-color: transparent;
    }
    .oak-actual-about-content .oak-actual-about-content-title{
        font-size: 20px;
        height: fit-content;
        text-align: left;
       width: calc(100% - 35px);
    }
    .oak-actual-about-content .oak-actual-about-content-subtitle{
        font-size: 12px;
        width: calc(100% - 35px);
        margin-top: 10px;
    }
    
.oak-actual-about-footer{
    height: 200px;
    width: calc(100% - 120px);
    margin-top: 30px;
}
.oak-actual-about-footer-con{
    height: 22px;
    width: 70px;
}
.oak-actual-about-footer-con-icon{
    font-size: 20px;
}
.oak-actual-about-footer-sub{
    font-size: 12px;
}
    
}
@media (max-width: 399px) and (min-width: 200px) {
    .oak-home-bannerr{
        height: 360px !important;
    }
    .oak-home__bannerrr-img{
        top: 90px;
        left: 160px;
    }
    .oak-home__bannerrr-img img{
        width: 190px;
        height: 196.87px;
    }
      
.oak-actual-about-footer{
    height: 200px;
    width: calc(100% - 40px);
    margin-top: 30px;
}
    
}

@media (max-width: 299px) and (min-width: 271px) {
    .oak-home-bannerr{
        height: 270px !important;
    }
    .oak-home__bannerrr-img{
        top: 100px;
        left: 90px;
    }
    .oak-home__bannerrr-img img{
        width: 180px;
        height: 180px;
    }
     
.oak-actual-about{
    height: 440px;
    }
    
    .oak-actual-about-content .oak-actual-about-content-title{
        font-size: 15px;
        height: fit-content;
        text-align: left;
       width: calc(100% - 35px);
    }
    .oak-actual-about-content .oak-actual-about-content-subtitle{
        font-size: 9px;
        width: calc(100% - 35px);
        margin-top: 10px;
    }
    
.oak-actual-about-footer{
    height: 100px;
    width: calc(100% - 20px);
    margin-top: 30px;
}
.oak-actual-about-footer-con{
    height: 17px;
    width: 45px;
}
.oak-actual-about-footer-con-icon{
    font-size: 15px;
}
.oak-actual-about-footer-sub{
    font-size: 10px;
}
    
    
}