/* media query for academy */
@media screen and  (max-width: 767px) {
    .academy-banner {
      width: 95% !important;
      margin-top: 1rem !important;
      height: 45vh !important;
    }

    .academy-banner__text {
        color: #FFF;
        font-family: var(--cd600);
        font-size: 30px !important;
        width: 100% !important;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .needText{
        display: block !important; 
        width: 100% !important;
        text-align: center !important;
    }

   .academy-banner__text::after{
    content: "";
    width: 100%;
    height: 5px;
    background-color: #FFF;
    margin-top: 2rem;
   }

   #tabbedComp{
    height: 7vh !important;
   }

   .academy-tab__item {
    color: var(--primary-color);
    font-family: var(--cd300) !important;
    font-size: 20px !important ;
    position: relative;
    margin-top: 4px !important;
    padding: .5rem !important;
    font-weight: 800 !important;
}

.academy-tab__item_wrapper {
    border-bottom: 1px solid #D4D4D4;
    width: 100% !important;
    margin-bottom: 1rem !important;
}

}
  

.academy-banner {
    height: 434px;
    border-radius: 20px;
    overflow: hidden;
    background-image: url('../../assets/images/coursesBG.png'), linear-gradient(to left, rgba(0, 0, 47, 0.00) 0%, #00002F 70.99%), url('../../assets/images/academyBg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.academy-left__side {
    /* width: 100%; */
    padding: 0 30px;
}

.academy-banner__text {
    color: #FFF;
    font-family: var(--cd600);
    font-size: 60px;
    width: 70%;


}

.academy-right__side {
    background-image: url('../../assets/images/academyBg.svg');
    background-position: right;

}

.academy-tab__item {
    color: var(--primary-color);
    font-family: var(--cd500);
    font-size: 20px;
    position: relative;
}

.academy-tab__item.active::after {
    position: absolute;
    content: '';
    height: 3px;
    background: var(--secondary-color);
    width: 100%;
    bottom: -10px;
    left: 0;
    border-radius: 5px;
}

.academy-tab__item_wrapper {
    border-bottom: 1px solid #D4D4D4;
}



.oak-article-title {
    color: var(--primary-color);
    font-family: var(--cd500);
    font-size: 30px;
}



.timeline {
    /* max-width: 600px; */
    margin: 0 auto;
    position: relative;
}

.timeline-item {
    display: flex;
    position: relative;
    /* padding-left: 13px; */
    margin-bottom: 33px;
}

.timeline-dot {
    width: 10.818px;
    height: 10.818px;
    border-radius: 50%;
    background-color: #ccc;
    position: relative;
    left: 0;
    margin: 5px 0;
    flex-shrink: 0;
}

.timeline-dot.active {
    background-color: var(--secondary-color);
}

.timeline-content {
    margin-left: 13px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.timeline-content p {
    color: #ccc;
    font-family: var(--cd500);
    font-size: 15px;
}

.active.timeline-content p {
    color: var(--primary-color);
}

/* Vertical line style */
.timeline-content.start-item::after {
    content: '';
    position: absolute;
    top: -8px;
    left: 5px;
    height: 10px;
    width: 1px;
    background-color: var(--secondary-color);
    z-index: -1;
    /* Send the line behind the content */
}

.timeline-content::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 5px;
    height: calc(100% + 15px);
    width: 1px;
    background-color: var(--secondary-color);
    z-index: -1;
    /* Send the line behind the content */
}

.oak-reward__container {
    padding: 33px 20px 46px 20px;
    background-image: url('../../assets/images/rewardbg.svg'), linear-gradient(to right, rgba(0, 0, 47, 0.00) 0%, #00002F 0.99%);
    background-repeat: no-repeat;
    background-position: 0 -100px, center, bottom;
    background-size: cover;
    border-radius: 20px;

}

.oak-reward__text {
    color: #FFF;
    text-align: center;
    font-family: var(--cd500);
    font-size: 25px;
}

.video-course__img_container {
    height: 472px;
    border-radius: 10px;
}

.oak-video_description {
    color: #000;
    font-family: var(--cd500);
    font-size: 15px;
}

.oak-video_episode__title {
    color: var(--primary-color);
    font-family: var(--cd500);
    font-size: 15px;

}

.video-episode__img_wrapper {
    height: 177.9px;
    flex-shrink: 0;
    border-radius: 8.807px;
    overflow: hidden;
}

.episode-title {
    color: var(--primary-color);
    font-family: var(--cd600);
    font-size: 20px;
    font-style: normal;
}

.episode-description {
    color: #000;
    font-family: var(--cd500);
    font-size: 15px;
}

.main-episode__img_container {
    height: 472px;
    flex-shrink: 0;
    border-radius: 10px;
}

.episode-transcript__wrapper {
    border-radius: 10px;
    background: #F4F4F4;
    height: 472px;
    overflow: auto;
}

.episode-transcript__wrapper {
    padding: 24px 24px  10px 24px;
}

.episode-transcript_text {
    color: var(--primary-color);
    font-family: var(--cd500);
    font-size: 20px;
    font-weight: 500;
}

.transcript-download__wrapper {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--primary-color);
}

.transcript-download__header {
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 10px;
}

.transcript-text {
    color: #000;
    font-family: var(--cd600);
    font-size: 15px;
    padding-top: 10px;
    height: calc(100% - 50px);
    overflow: auto;

}