.oak-hero__wrapper {
    /* min-height: 100vh; */
}

.hero-cta__wrapper {
    /* width: 54%; */
}

.hero-cta__cointainer {
    width: 63%;
    padding-top: 4em;
}

.oak-socials-hero__wrapper {
    margin-right: 2.5em;
    margin-top: 8px;
}

.oak-social-hero_wrapper.last-child {
    position: relative;

}

.oak-social-hero_wrapper.last-child::after {
    content: "";
    position: absolute;
    top: 50px;
    right: 50%;
    width: 2px;
    height: 64.593px;
    background-color: var(--secondary-color);
    border-radius: 2px;
}

.oak-social-hero_wrapper {
    margin-bottom: 22.54px;
}

.oak-hero-text {
    color: var(--primary-color);
    font-size: 30px;
    font-family: var(--cd500);
    margin-bottom: 15px;
}

.oak-hero-header {
    color: var(--primary-color);
    font-size: 60px;
    font-family: var(--cd600);
    margin-bottom: 21px;

}

.oak-hero-sub-text {
    color: #434343;
    font-size: 20px;
    font-family: var(--cd100);
    margin-bottom: 35px;

}

.hero-bg-img__wrapper {
    /* height: calc(100vh - 100px) !important; */
    width: 100%;

}



.oak-newsletter__wrapper {
    border-radius: 5px;
    background: #EAEAEA;
    border: none;
    width: 70%;
}

.oak-newsletter__wrapper::placeholder {
    color: #7C7C7C;
    font-size: 12px;
    font-family: var(--cd100);
}

.oak-hero-subscribe-text {
    color: #434343;
    font-size: 12px;
    font-family: var(--cd100);
    line-height: 150%;
    width: 70%;
}

.oak-newsletter-input,
.oak-newsletter-input:active,
.oak-newsletter-input:focus {
    background: transparent !important;
    border: none !important;
    outline: none !important;
}

.hero-cta__wrapper {
    background-image: url('../images/h1.png'), url('../images/h1.svg'), url('../images/h3.svg');
    background-repeat: no-repeat;
    background-position: 100% 20%;
    background-size: contain;
    /* padding-top:230px ; */
    min-height: 85vh;
}

.oak-hero__wrapper {
    background-image: url('../images/bitcoin.svg'), url('../images/eth.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 68%, 0% 100%;
    background-size: 8%, 15%;
    z-index: 9999;
}

.oak-section__wrapper {
    color: var(--primary-color);
    font-size: 30px;
    font-family: var(--cd600);
    text-align: center;
}

.oak-partners__wrapper {
    /* margin-top: 65px; */
}

.oak-section__subheading {
    color: #434343;
    font-size: 20px;
    font-family: var(--cd500);
}

.oak-section__head {
    color: var(--primary-color);
    font-size: 40px;
    font-family: var(--cd600);
    width: 48%;
}

.oak-features__container {
    min-height: 80vh;
    background: url('../images/oak.png');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

.oak-feature__wrapper {
    /* width: 220px !important */
    margin-top: 25rem;
}

.oak-feature__wrapper.even-child {
    margin-top: -16em;

}

.oak-feature__wrapper img {
    object-fit: cover;
    width: 80% !important
}

.news-section-header {
    background: url('../images/news.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 8em;
}


/* GET LATEST WEB3 NEWS SECTION */




.oak-getLatest__container {
    min-height: 75vh;
    background: url('../images/Rectangle.png');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 2rem;
}

.card-title {
    padding-top: 1rem;
    padding-left: .5rem;
    color: white !important;
    font-size: 15px;
    font-family: var(--cd400);
}

.card-text {
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    font-family: var(--cd600);
}

.card-text__last-child {
    color: white;
    font-size: 6px;
    margin-bottom: 1rem;
    font-family: var(--cd300);
}

.card-body {
    backdrop-filter: blur(50px) !important;
    background: rgba(0, 0, 0, 0.50);

}

.card-body__logo {
    display: flex;
}

.card-time {
    color: white;
    font-size: 8px;
    text-align: right;
    font-family: var(--cd500);
}

.oak-getLatest__container {
    display: flex;
    justify-content: space-between;

}

.card {
    height: 18vh !important;
    border-radius: 1rem !important;
    width: 400px;
}

.card-img-top {
    height: 33vh !important;
}

.oak-seeMore {
    text-align: center;
    padding-top: .5rem;
    font-family: var(--cd500);
    padding-bottom: 2rem;
}

.oak-seeMore::after {
    content: "";
    position: absolute;
    left: 47.8%;
    width: 63px;
    height: 2.1px;
    background-color: var(--secondary-color);
    border-radius: 2px;
    margin-top: 1.2rem;

}

/* MEDIA QUERRIES FOR GET LATEST WEB3 NEWS SECTION  */
@media screen and (max-width:428px) {
    .news-section-header{
        background-size: 80%;
        margin-top: 60px;
    }
    .oak-hero__wrapper{
        width: 90%;
    }
    section{
        width: 100%;
    }
    .oak-container-fluid{
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: row;
        gap: 5rem
   
    }
    .oak-getLatest__container {
        min-height: 70vh;
        width: 300vw;
        /* background-image: url('../images/Rectangle.png'); */
        background-position:center;
        background-size:80%;
        background-repeat: no-repeat;
        margin-top: 2rem;
        transform-box: border-box;
        transform: translateX(-380px);
        animation-name: carouselLikeShake;
        animation-duration: 8s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-delay: 2s;
    }

    .card-body__logo {
        display: flex;
        width: 50%;
    }

    .card-img, .card-img-bottom, .card-img-top {
        width: 80% !important;
    }

    .card{
        width: 400px;
        position: absolute;
        margin-left: 20px;
        border: none !important;
        background-color: none !important;
        height: 50vh !important;
    }

    .card-img-top {
        height: 22vh !important;
        width: 80%;
    }
    .card-body{
        padding:0;
        width: 80%;
        height: 20vh;
    }

    .card-text {
        color: white;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        font-family: var(--cd600);
    }

    .card-text__last-child {
        color: white;
        font-size: 6px;
        margin-bottom: 0rem;
        font-family: var(--cd300);
    }

    .oak-seeMore {
        transform: translate(-1190px,500px);
       
        padding-right:-80px;
        border: 2px solid black;
        height: 10vh;
    }
    .oak-section__wrapper{
        display: flex;
        flex-direction: column;
        width: 130%;
        margin-left: -40px;
        margin-top: -90px;
    }
    .newsLine{
        transform: translateY(5px) !important;
    }
    .podcast-img {
        background-image: url(http://localhost:3000/static/media/Ellipse.ce9ce013d788b382b863.png);
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: 70% 30%; */
        width: 40%;
        height: 100%;
        object-fit: cover;
        display: block;
        /* transform: translateX(1000px); */
    }

    .oak-seeMore::after {
        content: "";
        position: absolute;
        left: -15px !important;
        width: 63px;
        height: 2.1px;
        background-color: var(--secondary-color);
        border-radius: 2px;
        margin-top: 1.5rem;
    }

    @keyframes carouselLikeShake{
        0% {
            transform: translateX(-380px);
        }
        25% {
            transform: translateX(20px);
        }
        50% {
            transform: translateX(-380px);
        }
        75% {
            transform: translateX(-800px);
        }
        100% {
            transform: translateX(-380px);
        }
    }
}



/* podcast section */

.podcast-section {
    margin-top: 5rem;

}

.podcast-section-header {
    background: url('../images/Podcast.png');
    background-repeat: no-repeat;
    background-size: contain;

    width: 70%;
    margin: auto;
    padding-top: 10em;
}

.oak-podcast__container {
    display: flex;
}


.podcast-img {
    background-image: url('../images/Ellipse.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 30%;
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.oak-podcast__text {
    padding: 12rem;

}

.podcast-text {
    color: var(--primary-color);
    font-family: var(--cd600);
    padding-bottom: 1rem;
}

.podcast-text-p {
    font-weight: 300;
    font-family: var(--cd400);
    padding-bottom: 1rem;
}


/*MEDIA QUERIES FOR PODCAST SECTION*/
@media screen and (max-width:428px) {
    /* .oak-podcast__container {
        display: flex;
        flex-direction: column;
    } */
    .podcast-section {
        margin-top: 3rem;
    }
    .podcast-section-header {
        background-size: 80%;
        background-position: center;
        width: 100%;
        /* border: 2px solid red; */
        margin: auto;
        margin-top: -20px;
        padding-top: 10em;
    }
    .oak-section__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap   ;
        width: 130%;
        margin-left: 10px;
        margin-top: -170px;
        font-size: 16px;
    }
    .oak-podcast__text {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem;
        margin-top: 400px;
        margin-left: -300px;
    }
    .podcast-img{
        width: 80%;
    }
    .podcast-text{
    padding-right: 0;
    width: 100% !important;
    font-size: 24px;
    text-align: center;
    }
    .podcast-text-p {
        font-weight: 300;
        font-size: 10px;
        text-align: center;
    }
    .oak-btn, .oak-btn:hover, .oak-btn-secondary, .oak-btn-secondary:hover{
        width: 40% !important;
        height: 2.5rem !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-left: 100px;
    }
    .down{
        margin-top: -50px !important;
    }
}



/* nest section */

.nest-section {
    margin-top: 3rem;

}


.nest-section-header {
    background: url('../images/Nest\ NFT.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    width: 70%;
    margin: auto;
    padding-top: 10em;
}

.oak-nest__container {
    display: flex;
    justify-content: space-between;
}

.oak-nest__text {
    background: url('../images/Cylinder\ 5.png');
    background-repeat: no-repeat;
    background-size: 49%;
    background-position: 0% -20%;
    padding-left: 4rem;
    padding-right: 8rem;
    flex: 5
}

.oak-nest__text h1 {
    color: var(--primary-color);
    font-family: var(--cd600);
    padding-top: 22.5rem;
    font-size: 60px;
    padding-left: 2.3rem;
}

.oak-nest__text p {
    color: var(--primary-color);
    font-family: var(--cd500);
    /* font-size: 18px; */
    padding-left: 2.3rem;
    padding-bottom: 1rem;

}

.oak-nest__text button {
    margin-left: 2.3rem;

}

.oak-nest__img {
    flex: 7;
}

.oak-container__img {
    background: url('../images/Rectangle\ 114.png');
    background-repeat: no-repeat;
    background-size: 49%;
    background-position: 0% -20%;
}

.writer-section__header {
    margin-top: 10rem;
    /* border: 2px solid red; */
}


.writer-section-header {
    background: url('../images/Web3\ Writer.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    padding-top: 10em;
    margin-top: 5rem;
}

.oak-writer__container {
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;

}

.writer-img {
    height: 50vh;
    width: 50%;
    padding-left: 4rem;

}

.writer-text {
    padding-left: 3rem;
    padding-right: 5rem;
    padding-top: 2rem;
}

.writer-text h2 {
    padding-right: 8rem;
    color: var(--primary-color);
    font-family: var(--cd600);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.writer-text p {
    padding-right: 8rem;
    color: var(--primary-color);
    font-family: var(--cd400);

}

.courses-section__header {
    margin-top: 15rem;

}

.courses-section {
    background-image: url('../images/coursesBG.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    position: relative;

}

.courses-section p {
    color: white;
    font-family: var(--cd500);
    padding-top: 8rem;
    font-size: 22px;
}

.courses-section p+p {
    color: white;
    font-family: var(--cd500);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 40px;
}

.courses-section button {
    margin-bottom: 6rem;
    font-family: var(--cd400);
    font-size: small;
    border: .5px solid #fff;
    background: transparent;
    color: #fff;
    padding: 12px 21px;
    border-radius: 4px;
    box-shadow: 4px 4px 1px rgba(255, 255, 255, 1);
}

.courses-section button:hover {
    background: #fff;
    background: orangered;
    transition: 0.5s;
    border: none;
}

.courses-section button:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
    border: 1px solid #fff;
}

.btc-icon {
    width: 13%;
    height: 20vh;
    position: absolute;
    left: 93%;
    bottom: 77%;
}

.btcBlur-icon {
    width: 25%;
    height: 42vh;
    position: absolute;
    right: 85%;
}

.oakvice-section {
    margin-top: 15rem;
}

.oakvice-section__header {
    background: url('../images/Oakvice.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    padding-top: 10em;
    margin-top: 5rem;
}

.oakvice-container {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    padding-top: 2rem;
}

.oakvice-container__text {
    padding-right: 8rem;
    margin-right: 2rem;
    padding-top: 8rem;
}

.oakvice-container__text h2 {
    color: var(--primary-color);
    font-family: var(--cd600);
    padding-bottom: 1rem;
    font-size: 57px;
}

.oakvice-container__text p {
    color: var(--primary-color);
    font-family: var(--cd400);
    padding-bottom: 1rem;
    font-size: 15px;
}

.oakvice-img {
    width: 43%;
    height: 80vh;
    padding-left: 10rem;
    padding-right: 3rem;
    margin-left: 2rem;
    margin-right: 4rem;
}

/* review section */

/* media-queries */

@media screen and (max-width:412px) {
    .review-section__header{
        width: 100%;
    }

    .review-section__wrapper{
        font-size: 16px;
        font-family: var(--cd600);
    }

    
}

.review-section__header {
    margin-top: 10rem;
}

.review-section-header {
    background: url('../images/Our\ Reviews.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    padding-top: 10em;
    margin-top: 5rem;
}

.review-section{
    padding: 3rem;
}

.review-card{
    padding-top: 0px;
    padding-left: 10px;
    /* padding-right: 100px; */
    padding-bottom: 0px;
    display:flex
}

.review-img{
    width: 12%;
   /* height: 10vh; */
}


.review-quote{
    width: 4%;
    padding-bottom: 5px;
    
}

.review-text{
    padding: 22px 60px 10px 20px;
    background: rgba(197, 178, 178, 0.1);
    border-radius: 1rem;
    font-family: var(--cd500);
}

.review-text p{
    font-size: 14px;
}



.review-text__right{
    padding: 22px 60px 0px 20px;
    background: rgba(197, 178, 178, 0.1);
    border-radius: 1rem;
    font-family: var(--cd500);
    
}

.review-card__right{
    display: flex;
    justify-content: end;
}

.oak-nest__img {
    background: url('../images/nftBg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    height: 90vh;
    padding: 25px;
    box-sizing: border-box;
    margin-top: 5rem;

}

.nft-animation-wrapper {
    max-height: 100% ;
    overflow: auto;
    
}

.nft-img__container {
    width: 199.52px;
    height: 229.78px;
    border-radius: 10.26px;

}


.nft-collections_wrapper {
    animation: scrollAnimation 25s linear infinite;
    /* white-space: nowrap; */
}

.direction-up {
    animation: scrollAnimationUp 28s linear infinite !important;
}


@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes scrollAnimationUp {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}
