.oak-hero__wrapper {
    /* min-height: 100vh; */
}

.hero-cta__wrapper {
    /* width: 54%; */
}

.hero-cta__cointainer {
    width: 63%;
    padding-top: 4em;
}

.oak-socials-hero__wrapper {
    margin-right: 2.5em;
    margin-top: 8px;
}

.oak-social-hero_wrapper.last-child {
    position: relative;

}

.oak-social-hero_wrapper.last-child::after {
    content: "";
    position: absolute;
    top: 50px;
    right: 50%;
    width: 2px;
    height: 64.593px;
    background-color: var(--secondary-color);
    border-radius: 2px;
}

.oak-social-hero_wrapper {
    margin-bottom: 22.54px;
}

.oak-hero-text {
    color: var(--primary-color);
    font-size: 30px;
    font-family: var(--cd500);
    margin-bottom: 15px;
}

.oak-hero-header {
    color: var(--primary-color);
    font-size: 60px;
    font-family: var(--cd600);
    margin-bottom: 21px;

}

.oak-hero-sub-text {
    color: #434343;
    font-size: 20px;
    font-family: var(--cd100);
    margin-bottom: 35px;

}




/* media queries */

.hero-bg-img__wrapper {

    width: 100%;

}



.oak-newsletter__wrapper {
    border-radius: 5px;
    background: #EAEAEA;
    border: none;
    width: 70%;
}

.oak-newsletter__wrapper::placeholder {
    color: #7C7C7C;
    font-size: 12px;
    font-family: var(--cd100);
}

.oak-hero-subscribe-text {
    color: #434343;
    font-size: 12px;
    font-family: var(--cd100);
    line-height: 150%;
    width: 70%;
}

.oak-newsletter-input,
.oak-newsletter-input:active,
.oak-newsletter-input:focus {
    background: transparent !important;
    border: none !important;
    outline: none !important;
}

.hero-cta__wrapper {
    background-image: url('../images/h1.png'), url('../images/h1.svg'), url('../images/h3.svg');
    background-repeat: no-repeat;
    background-position: 90% 20%, 100% 20%, 100% 20%;
    background-size: contain;
    /* padding-top:230px ; */
    min-height: 85vh;
}

.oak-hero__wrapper {
    background-image: url('../images/bitcoin.svg'), url('../images/eth.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 68%, 0% 100%;
    background-size: 8%, 15%;
    z-index: 9999;
}

.oak-section__wrapper {
    color: var(--primary-color);
    font-size: 30px;
    font-family: var(--cd600);
    text-align: center;
}

.oak-partners__wrapper {
    /* margin-top: 65px; */
}

.oak-section__subheading {
    color: #434343;
    font-size: 20px;
    font-family: var(--cd500);
    position: relative;

}



.oak-section__head {
    color: var(--primary-color);
    font-size: 40px;
    font-family: var(--cd600);
    width: 48%;
}

.oak-features__container {
    min-height: 80vh;
    background: url('../images/oak.png');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

.oak-feature__wrapper {

    margin-top: 25rem;
}

.oak-feature__wrapper.even-child {
    margin-top: -16em;

}

.oak-feature__wrapper img {
    object-fit: cover;
    width: 80% !important
}

.news-section-header {
    background: url('../images/news.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 8em;
}


/* GET LATEST WEB3 NEWS SECTION */


.oak-getLatest__container {
    min-height: 75vh;
    background: url('../images/Rectangle.png');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 2rem;
}

.card-title {
    padding-top: 1rem;
    padding-left: .5rem;
    color: white !important;
    font-size: 15px;
    font-family: var(--cd400);
}

.card-text {
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    font-family: var(--cd600);
}

.card-text__last-child {
    color: white;
    font-size: 6px;
    margin-bottom: 1rem;
    font-family: var(--cd300);
}

.card-body {
    backdrop-filter: blur(50px) !important;
    background: rgba(0, 0, 0, 0.50);

}

.card-body__logo {
    display: flex;
}

.card-time {
    color: white;
    font-size: 8px;
    text-align: right;
    font-family: var(--cd500);
}

.oak-getLatest__container {
    display: flex;
    justify-content: space-between;

}

.card {
    height: 18vh !important;
    border-radius: 1rem !important;
    width: 400px;
}

.card-img-top {
    height: 33vh !important;
}

.oak-seeMore {
    text-align: center;
    padding-top: .5rem;
    font-family: var(--cd500);
    padding-bottom: 2rem;
}

.oak-seeMore::after {
    content: "";
    position: absolute;
    left: 47.8%;
    width: 63px;
    height: 2.1px;
    background-color: var(--secondary-color);
    border-radius: 2px;
    margin-top: 1.2rem;

}


.oak-introduction__mobile-view {
    background-image: url('../images/h1.png'), url('../images/h3.svg'), url('../images/h1.svg');
    background-repeat: no-repeat;
    background-position: 0% 20%, 50% 100%, 0% 20%;
    background-size: contain, cover, contain;
    /* padding-top:230px ; */
    height: 50vh;
    margin-bottom: 30px;

}

/* MEDIA QUERRIES FOR GET LATEST WEB3 NEWS SECTION  */
/*  */

@media(max-width:769px) {
    .hero-cta__cointainer {
        width: 100%;
        padding-top: 30px;
    }

    .hero-cta__wrapper {
        background-image: unset;
        background-position: unset;
        background-size: unset;
        padding-top: 0px;
        min-height: unset;
    }

    .oak-hero-text {
        font-size: 15px;
        text-align: center;
        margin-bottom: 7px;
    }

    .oak-hero-header {
        font-size: 27px;
        margin-bottom: 21px;
        text-align: center;
        margin-bottom: 7px;

    }


    .oak-hero-sub-text {
        /* color: #434343; */
        font-size: 12px;
        /* font-family: var(--cd100); */
        margin-bottom: 5px;
        text-align: center;
    }

    .oak-socials-hero__wrapper {
        padding-bottom: 150px;
        margin-right: 0;
        margin-top: 0px;
    }

    .oak-newsletter__wrapper {

        width: 100%;
    }

    .hero-cta_btn {
        text-align: center;
    }

    .hero-cta_btn button {
        margin-bottom: 21px !important;
    }

    .oak-hero__wrapper {
        background-repeat: no-repeat, no-repeat;
        background-position: 95% 25%, 0% 80%;
        background-size: 18%, 25%;
    }

    .oak-social-hero_wrapper {
        margin-bottom: 10px;
    }

    .oak-social-hero_wrapper img {
        height: 17px;
        width: 17px;
        object-fit: contain;
    }

    .oak-social-hero_wrapper.last-child::after {

        top: 40px;
        height: 44.593px;

    }

    .oak-hero-subscribe-text {
        width: 100%;
        text-align: center;
        font-size: 10px;
    }

    .oak-section__wrapper {
        font-size: 20px;
    }

    .partner__brands {

        margin: 0 1.5rem;

    }

    #over-flow__animation {

        animation-name: overflow;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        animation-fill-mode: both;
    }

    @keyframes overflow {
        0% {
            transform: translateX(25rem);
        }

        25% {
            transform: translateX(9rem);
        }

        50% {
            transform: translateX(-9rem);
        }

        75% {
            transform: translateX(-25rem);
        }

        100% {
            transform: translateX(25rem);
        }
    }

    #partners__overflow {
        overflow-x: hidden
    }

    .oak-section__subheading.mb-0 {
        font-size: 15px;
        text-align: center;
        margin-bottom: 23px !important;

    }

    .oak-section__subheading::after {
        content: '';
        position: absolute;
        width: 20%;
        background: var(--secondary-color);
        height: 3px;
        left: 40%;
        bottom: -8px;
        border-radius: 10px;
        margin: auto;

    }

    .oak-section__head {
        font-size: 25px;
        width: 100%;
        text-align: center;
    }

    .oak-features__container {
        background-size: cover;
        background-position: center;
    }

    .oak-feature__wrapper {
        margin-top: 10rem;
    }

    .oak-feature__wrapper img {
        object-fit: cover;
        width: 90% !important;
    }


    .news-section-header {
        background-size: 100%;
        padding-top: 20px;

    }

    .news-section-header h3 {
        font-size: 19px;
    }

    .oak-getLatest__container {
        min-height: 70vh;
        width: 300vw;
        background: url(http://localhost:3000/static/media/Rectangle.a383eda39b38cfe50c3f.png);
        /* background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: cover; */
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 2rem;
        transform-box: border-box;
        transform: translateX(-380px);
        /* overflow-x: hidden !important; */
        animation-name: carouselLikeShake;
        animation-duration: 10s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-delay: 2s;
    }
}




/* * MEDIA QUERRIES FOR GET LATEST WEB3 NEWS SECTION  */
@media screen and (max-width:528px) {



    .web {
        overflow-x: hidden !important;
    }


    .oak-getLatest__container {
        min-height: 70vh;
        width: 300vw;
        background: url(http://localhost:3000/static/media/Rectangle.a383eda39b38cfe50c3f.png);
        /* background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: cover; */
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 2rem;
        transform-box: border-box;
        transform: translateX(-380px);
        /* overflow-x: hidden !important; */
        animation-name: carouselLikeShake;
        animation-duration: 10s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-delay: 2s;
    }

    .web {
        overflow: hidden !important;
        position: relative;
    }

    .card-body__logo {
        display: flex;
        width: 50%;
    }

    .card-img,
    .card-img-bottom,
    .card-img-top {
        width: 80% !important;
    }

    .card {
        width: 400px;
        position: absolute;
        margin-left: 20px;
        border: none !important;
        background-color: none !important;
    }

    .card-img-top {
        height: 22vh !important;
        width: 80%;
    }

    .card-body {
        padding: 0;
        width: 80%;
        height: 30vh;
    }

    .card-text {
        color: white;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        font-family: var(--cd600);
    }

    .card-text__last-child {
        color: white;
        font-size: 8px;
        margin-bottom: 0rem;
        font-family: var(--cd300);
    }

    .oak-seeMore {
        transform: translate(-1145px, 400px);
        padding-right: -200px !important;
        flex-shrink: 0;
    }



    /* .newsLine {
        transform: translate(15px, 1px) !important;
        font-size: 18px;
        width: 200%;
        flex-direction: row;
        margin-left: 25px;
    } */

    .podcast-img {
        background-image: url(http://localhost:3000/static/media/Ellipse.ce9ce013d788b382b863.png);
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: 70% 30%; */
        width: 40%;
        height: 100%;
        object-fit: cover;
        display: block;
        /* transform: translateX(1000px); */
    }

    .oak-seeMore::after {
        content: "";
        position: absolute;
        left: 5px !important;
        width: 63px;
        height: 2.1px;
        background-color: var(--secondary-color);
        border-radius: 2px;
        margin-top: 1.2rem;
    }

    @keyframes carouselLikeShake {
        0% {
            transform: translateX(-380px);
        }

        25% {
            transform: translateX(20px);
        }

        50% {
            transform: translateX(-380px);
        }

        75% {
            transform: translateX(-800px);
        }

        100% {
            transform: translateX(-380px);
        }
    }
}

@media screen and (max-width:480px) {


    .web {
        overflow-x: hidden !important;
    }



    .oak-getLatest__container {
        min-height: 70vh;
        width: 300vw;
        background: url(http://localhost:3000/static/media/Rectangle.a383eda39b38cfe50c3f.png);
        /* background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: cover; */
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 2rem;
        transform-box: border-box;
        transform: translateX(-380px);
        /* overflow-x: hidden !important; */
        animation-name: carouselLikeShake;
        animation-duration: 10s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-delay: 2s;
    }

    .web {
        overflow: hidden !important;
        position: relative;
    }

    .card-body__logo {
        display: flex;
        width: 50%;
    }

    .card-img,
    .card-img-bottom,
    .card-img-top {
        width: 80% !important;
    }

    .card {
        width: 400px;
        position: absolute;
        margin-left: 20px;
        border: none !important;
        background-color: none !important;
    }

    .card-img-top {
        height: 22vh !important;
        width: 80%;
    }

    .card-body {
        padding: 0;
        width: 80%;
        height: 30vh;
    }

    .card-text {
        color: white;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        font-family: var(--cd600);
    }

    .card-text__last-child {
        color: white;
        font-size: 8px;
        margin-bottom: 0rem;
        font-family: var(--cd300);
    }

    .oak-seeMore {
        transform: translate(-1150px, 400px);
        padding-right: -200px !important;
    }

    /* .oak-section__wrapper {
        display: flex;
        flex-direction: column;
        width: 130%;
        margin-left: -40px;
        margin-top: -90px;
    } */

    /* .newsLine {
        transform: translate(15px, 1px) !important;
        font-size: 18px;
        width: 200%;
        flex-direction: row;
        margin-left: 25px;
    } */

    .podcast-img {
        background-image: url(http://localhost:3000/static/media/Ellipse.ce9ce013d788b382b863.png);
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: 70% 30%; */
        width: 40%;
        height: 100%;
        object-fit: cover;
        display: block;
        /* transform: translateX(1000px); */
    }

    .oak-seeMore::after {
        content: "";
        position: absolute;
        left: 5px !important;
        width: 63px;
        height: 2.1px;
        background-color: var(--secondary-color);
        border-radius: 2px;
        margin-top: 1.2rem;
    }

    @keyframes carouselLikeShake {
        0% {
            transform: translateX(-380px);
        }

        25% {
            transform: translateX(20px);
        }

        50% {
            transform: translateX(-380px);
        }

        75% {
            transform: translateX(-800px);
        }

        100% {
            transform: translateX(-380px);
        }
    }
}

@media screen and (max-width:428px) {



    section {
        width: 100%;
    }

    .web {
        overflow: hidden !important;
        position: relative;
    }

    .oak-getLatest__container {
        min-height: 70vh;
        width: 300vw;
        background: url(http://localhost:3000/static/media/Rectangle.a383eda39b38cfe50c3f.png);
        /* background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: cover; */
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 2rem;
        transform-box: border-box;
        transform: translateX(-380px);
        /* overflow-x: hidden !important; */
        animation-name: carouselLikeShake;
        animation-duration: 10s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-delay: 2s;
    }

    .card-body__logo {
        display: flex;
        width: 50%;
    }

    .card-img,
    .card-img-bottom,
    .card-img-top {
        width: 80% !important;
    }

    .card {
        width: 400px;
        position: absolute;
        margin-left: 2v0px;
        border: none !important;
        background-color: none !important;
    }

    .card-img-top {
        height: 22vh !important;
        width: 80%;
    }

    .card-body {
        padding: 0;
        width: 80%;
        height: 30vh;
    }

    .card-text {
        color: white;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        font-family: var(--cd600);
    }

    .card-text__last-child {
        color: white;
        font-size: 6px;
        margin-bottom: 0rem;
        font-family: var(--cd300);
    }

    .oak-seeMore {
        transform: translate(-1350px, 400px);
        width: 100% !important;
        padding-right: -80px;
        /* position:absolute; */
    }



    /* .newsLine {
        transform: translateY(5px) !important;
    } */

    .podcast-img {
        background-image: url(http://localhost:3000/static/media/Ellipse.ce9ce013d788b382b863.png);
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: 70% 30%; */
        width: 40%;
        height: 100%;
        object-fit: cover;
        display: block;
        /* transform: translateX(1000px); */
    }

    .oak-seeMore::after {
        content: "";
        position: absolute;
        left: 180px !important;
        width: 63px;
        height: 2.1px;
        background-color: var(--secondary-color);
        border-radius: 2px;
        margin-top: 1.2rem;
    }

    @keyframes carouselLikeShake {
        0% {
            transform: translateX(-380px);
        }

        25% {
            transform: translateX(20px);
        }

        50% {
            transform: translateX(-380px);
        }

        75% {
            transform: translateX(-800px);
        }

        100% {
            transform: translateX(-380px);
        }
    }
}

@media screen and (max-width:390px) {
    .oak-seeMore {
        transform: translate(-1250px, 400px);
        width: 100% !important;
        padding-right: -80px;
        /* position:absolute; */
    }

    .oak-seeMore::after {
        content: "";
        position: absolute;
        left: 160px !important;
        width: 63px;
        height: 2.1px;
        background-color: var(--secondary-color);
        border-radius: 2px;
        margin-top: 1.2rem;
    }
}


.podcast-section {
    margin-top: 5rem;

}

.podcast-section-header {
    background: url('../images/Podcast.png');
    background-repeat: no-repeat;
    background-size: contain;

    width: 70%;
    margin: auto;
    padding-top: 10em;
}

.oak-podcast__container {
    display: flex;
}


.podcast-img {
    background-image: url('../images/Ellipse.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 30%;
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.oak-podcast__text {
    padding: 12rem;

}

.podcast-text {
    color: var(--primary-color);
    font-family: var(--cd600);
    padding-bottom: 1rem;
}

.podcast-text-p {
    font-weight: 300;
    font-family: var(--cd400);
    padding-bottom: 1rem;
}

/*MEDIA QUERIES FOR PODCAST SECTION*/
@media screen and (max-width:528px) {
    .podcast-section {
        margin-top: -90px;
    }

    .podcast-section-header {
        background-size: 70%;
        background-position: center;
        width: 100%;
        /* border: 2px solid red; */
        margin: auto;
        margin-top: 70px;
        padding-top: 10em;
    }

    .oak-section__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 130%;
        margin-left: 10px;
        margin-top: -170px;
        font-size: 16px;
    }

    .oak-podcast__text {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem;
        margin-top: 400px;
        margin-left: -300px;
    }

    .podcast-img {
        width: 80%;
    }

    .podcast-text {
        padding-right: 0;
        width: 100% !important;
        font-size: 24px;
        text-align: center;
    }

    .podcast-text-p {
        font-weight: 300;
        font-size: 10px;
        text-align: center;
    }

    .oak-btn,
    .oak-btn:hover,
    .oak-btn-secondary,
    .oak-btn-secondary:hover {
        width: 40% !important;
        height: 2.5rem !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-left: 100px;
    }

    .down {
        margin-top: -55px !important;
        margin-left: 20px;
    }
}


@media screen and (max-width:480px) {
    .podcast-section {
        margin-top: -90px;
    }

    .podcast-section-header {
        background-size: 70%;
        background-position: center;
        width: 100%;
        /* border: 2px solid red; */
        margin: auto;
        margin-top: 70px;
        padding-top: 10em;
    }

    .oak-section__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 130%;
        margin-left: 10px;
        margin-top: -170px;
        font-size: 16px;
    }

    .oak-podcast__text {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem;
        margin-top: 400px;
        margin-left: -300px;
    }

    .podcast-img {
        width: 80%;
    }

    .podcast-text {
        padding-right: 0;
        width: 100% !important;
        font-size: 24px;
        text-align: center;
    }

    .podcast-text-p {
        font-weight: 300;
        font-size: 10px;
        text-align: center;
    }

    .oak-btn,
    .oak-btn:hover,
    .oak-btn-secondary,
    .oak-btn-secondary:hover {
        width: 40% !important;
        height: 2.5rem !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-left: 100px;
    }

    .down {
        margin-top: -55px !important;
        margin-left: 20px;
    }
}

@media screen and (max-width:428px) {
    .podcast-section {
        margin-top: 3rem;
    }

    .podcast-section-header {
        background-size: 80%;
        background-position: center;
        width: 100%;
        /* border: 2px solid red; */
        margin: auto;
        margin-top: -20px;
        padding-top: 10em;
    }

    .oak-section__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 130%;
        margin-left: 10px;
        margin-top: -170px;
        font-size: 16px;
    }

    .oak-podcast__text {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem;
        margin-top: 400px;
        margin-left: -300px;
    }

    .podcast-img {
        width: 80%;
    }

    .podcast-text {
        padding-right: 0;
        width: 100% !important;
        font-size: 24px;
        text-align: center;
    }

    .podcast-text-p {
        font-weight: 300;
        font-size: 10px;
        text-align: center;
    }

    .oak-btn,
    .oak-btn:hover,
    .oak-btn-secondary,
    .oak-btn-secondary:hover {
        width: 40% !important;
        height: 2.5rem !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-left: 100px;
    }

    .down {
        margin-top: -50px !important;
    }
}