.oak-home-bannerr {
    padding: 60px;
    background-image: linear-gradient(180deg, rgba(0, 0, 47, 0.00) 0%, #00002F 70.99%), url('../../assets/images/coursesBG.png');
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-bottom: 160px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    /* overflow: hidden; */
}

.oak-bannerr-header {
    color: #FFF;
    font-family: var(--cd600);
    font-size: 50px;
    line-height: normal;
}

.oak-home__bannerr-img {
    top: 45px;
    right: 0px;
}

.oak-bannerr__text-wrapper {
    width: 60%;
}
.oak-content{
    display: grid;
    padding: 0px;
    width: 100%;
    margin: 0;
    grid-template-columns: 0.3fr 1fr;
    min-height: 600px;
}
.oak-content-left_text-wrapper{
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #D4D4D4;
    ;
}
.oak-content-left-header{
    font-family: Clash Display;
font-size: 40px;
font-weight: 600;
line-height: 49px;
letter-spacing: 0em;
text-align: left;color: #00002F;
}
.oak-content-left-header-bar{
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: #FF4E00;
}
.oak-content-dropdown{
   margin-top: 10px;
   padding: 0;
}
.oak-content-dropdown li{
    display: flex;
    flex-direction: column;
 }
 .oak-content-dropdown li button{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 31px;
    border: 0;
    outline: none;
 }
 .oak-content-dropdown li button p{
    font-family: Clash Display;
font-size: 16px;
font-weight: 500;
font-weight: 800;
letter-spacing: 0em;
text-align: left;
margin: 0;
color: #00002F;
 }
 .oak-content-a-dropdown{
    margin-top: 10px;
    padding: 0;
 }
 .oak-content-a-dropdown a{
    text-decoration: none;
    color: #000000;
    margin-left: 10px;
 }
 .oak-content-right_text-wrapper{
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.oak-content-right-header{
    font-family: Clash Display;
font-size: 40px;
font-weight: 600;
line-height: 49px;
letter-spacing: 0em;
text-align: left;
color: #00002F;
}
.oak-content-right-subheader1{
    font-family: Clash Display;
font-size: 15px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
}
.oak-content-right-subheader{
    font-family: Clash Display;
font-size: 30px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
color: #00002F;
}
.oak-content-right-subheader2{
    font-family: Clash Display;
font-size: 15px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;

}

@media (max-width:1280px) and (min-width: 961px) {
    .oak-home-bannerr{
        height: 300px;
    }
    .oak-bannerr-header {
        font-size: 40px;
    }
    
    .oak-home__bannerr-img {
        width: 0;
        height: 0;
        padding: 0;
        top: -15px;
        right: 420px ;
      
    }
    .oak-home__bannerr-img img{
        width: 480px;
        height: 550px ;
    }
    
    .oak-bannerr__text-wrapper {
        width: 60%;
    }
    .oak-content-left-header{
    font-size: 25px;
    line-height: 29px;
    }
     .oak-content-dropdown li button{
        padding: 0;
     }
     .oak-content-dropdown li button p{
    font-size: 12px;
     }
     .oak-content-a-dropdown a{
       font-size: 9px;
     }
    .oak-content-right-header{
    font-size: 30px;
    }
    .oak-content-right-subheader1{
    font-size: 15px;
    width: 450px !important;
    }
    .oak-content-right-subheader{
    font-size: 20px;
    }
    .oak-content-right-subheader2{
    font-size: 12px;
    
    }
}

@media (max-width:960px) and (min-width: 769px) {
    .oak-home-bannerr{
        height: 300px;
    }
    .oak-bannerr-header {
        font-size: 30px;
    }
    
    .oak-home__bannerr-img {
        width: 0;
        height: 0;
        padding: 0;
        top: -15px;
        right: 420px ;
      
    }
    .oak-home__bannerr-img img{
        width: 480px;
        height: 550px ;
    }
    
    .oak-bannerr__text-wrapper {
        width: 60%;
    }
    .oak-content-left-header{
    font-size: 25px;
    line-height: 29px;
    }
     .oak-content-dropdown li button{
        padding: 0;
     }
     .oak-content-dropdown li button p{
    font-size: 12px;
     }
     .oak-content-a-dropdown a{
       font-size: 9px;
     }
    .oak-content-right-header{
    font-size: 30px;
    }
    .oak-content-right-subheader1{
    font-size: 15px;
    width: 350px !important;
    }
    .oak-content-right-subheader{
    font-size: 20px;
    }
    .oak-content-right-subheader2{
    font-size: 12px;
    
    }
}

@media(max-width:768px) and (min-width:501px) {
    .oak-home-bannerr {
        padding: 30px 10px 0 10px;
        background-position: center;
        height: 390px;
        margin-bottom: 150px !important;
    }

    .oak-bannerr__text-wrapper {
        width: 100%;
        text-align: center;

    }

    .oak-bannerr-header {
        font-size: 30px;
        margin-bottom: 7px;
    }

    .oak-home__bannerr-img {
        bottom: 0;
        right: 25%;
        height: 345px;
        top: 25%;
    }

    .oak-home__bannerr-img img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        ;
    }
    
.oak-content{
    grid-template-columns: 1fr;
    margin-top: -80px;
}

.oak-content-left-header-bar{
    width: 200px;
}
.oak-content-left_text-wrapper{
    width: 50%;
    border: 0;
}

.oak-content-right-subheader1{
    width: 100% !important;
}
}

@media(max-width:500px) and (min-width:300px) {
    .oak-home-bannerr {
        padding: 30px 10px 0 10px;
        background-position: center;
        height: 390px;
        margin-bottom: 150px !important;
    }

    .oak-bannerr__text-wrapper {
        width: 100%;
        text-align: center;

    }

    .oak-bannerr-header {
        font-size: 27px;
        margin-bottom: 7px;
    }

    .oak-home__bannerr-img {
        bottom: 0;
        right: 0;
        width: 391.21px;
        height: 345px;
        top: 25%;
    }

    .oak-home__bannerr-img img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        ;
    }
    
.oak-content{
    grid-template-columns: 1fr;
    margin-top: -100px;
}

.oak-content-left-header{
font-size: 20px;
line-height: 16px;
}

.oak-content-left-header-bar{
    width: 163px;
}
.oak-content-left_text-wrapper{
    width: 218px;
    border: 0;
}
.oak-content-dropdown li button{
    padding-left: 0;
}
.oak-content-dropdown li button p{
font-size: 15px;
 }
 .oak-content-a-dropdown{
    margin-top: 10px;
    padding: 0;
 }
 .oak-content-a-dropdown a{
    margin-left: 5px;
 }
.oak-content-right-subheader1{
    width: 100% !important;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
}

.oak-content-right-header{
font-size: 20px;
line-height: 20px;
}
.oak-content-right-subheader{
font-size: 15px;
font-weight: 800;
}
.oak-content-right-subheader2{
font-size: 12px;
font-weight: 600;
}
}

@media(max-width:299px) and (min-width:279px) {
    .oak-home-bannerr {
        padding: 30px 10px 0 10px;
        background-position: center;
        height: 280px;
        margin-bottom: 150px !important;
    }

    .oak-bannerr__text-wrapper {
        width: 100%;
        text-align: center;

    }

    .oak-bannerr-header {
        font-size: 20px;
        margin-bottom: 7px;
    }

    .oak-home__bannerr-img {
        bottom: 0;
        right: 0;
        width: 291.21px;
        height: 345px;
        top: 15%;
    }

    .oak-home__bannerr-img img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        ;
    }
    
.oak-content{
    grid-template-columns: 1fr;
    margin-top: -100px;
}

.oak-content-left-header{
font-size: 16px;
line-height: 16px;
}

.oak-content-left-header-bar{
    width: 133px;
}
.oak-content-left_text-wrapper{
    width: 180px;
    border: 0;
}
.oak-content-dropdown li button{
    padding-left: 0;
}
.oak-content-dropdown li button p{
font-size: 11px;
 }
 .oak-content-a-dropdown{
    margin-top: 10px;
    padding: 0;
 }
 .oak-content-a-dropdown a{
    margin-left: 5px;
    font-size: 9px;
 }
.oak-content-right-subheader1{
    width: 100% !important;
    font-size: 9px;
    line-height: 14px;
    font-weight: 600;
}

.oak-content-right-header{
font-size: 16px;
line-height: 20px;
}
.oak-content-right-subheader{
font-size: 12px;
font-weight: 800;
}
.oak-content-right-subheader2{
font-size: 9px;
font-weight: 600;
}
}