.oak-ourTeam-content{
    display: flex;
    flex-direction: column;
    min-height: 400px;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
}
.team{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    height: 500px;
}
.team .firstdetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.team .seconddetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.team .seconddetail p{
    font-family: Clash Display;
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #00002f;
}


.team1{
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 0.5fr ;
    height: 400px;
}
.team1 .firstdetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.team1 .seconddetail{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
    padding-right: 20px;
    justify-content: space-between;
}
.team1 .seconddetail h1{
    font-family: Clash Display;
font-size: 30px;
font-weight: 500;
line-height: 37px;
letter-spacing: 0em;
text-align: left;
color: #00002f;
}
.team1 .seconddetail h2{
    font-family: Clash Display;
font-size: 20px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
color: #00002f;
}
.team1 .seconddetail p{
    font-family: Clash Display;
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #00002f;
}

.team2{
    margin-top: 0px;
    display: grid;
    grid-template-columns: 0.5fr 1fr ;
    height: 400px;
}
.team2 .firstdetail{
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.team2 .seconddetail{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
    padding-left: 20px;
    justify-content: space-between;
}
.team2 .seconddetail h1{
    font-family: Clash Display;
font-size: 30px;
font-weight: 500;
line-height: 37px;
letter-spacing: 0em;
text-align: left;
color: #00002f;
}
.team2 .seconddetail h2{
    font-family: Clash Display;
font-size: 20px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
color: #00002f;
}
.team2 .seconddetail p{
    font-family: Clash Display;
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #00002f;
}

.teamr{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: space-between;
}
.teamr img{
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 0;
}