main {
  min-height: 800px;
  max-width: 1400px;

  margin: auto;
}

.oak-survey-fluid {
  display: flex;

  gap: 5rem;
  min-height: 900px;
  align-items: center;
}

.bg-img {
  position: absolute;
  width: 100%;

  max-width: max-content;
  top: 100px;
  left: 0;
}

.bg-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.oak-survey-text-container {
  flex: 1 1 0px;
  border-radius: 36px;
  background: linear-gradient(
    171.25deg,
    rgba(2, 2, 48, 0.8) -16.99%,
    rgba(219, 75, 18, 0) 164.37%
  );
  backdrop-filter: blur(5px);
  padding: 2.5rem 3rem;
  color: white;
  border: 0.3rem solid #a3746f73;
}

.oak-survey-text-top {
  font-size: 20px;
  font-weight: 600;
}

.oak-survey-text-main {
  display: grid;
  gap: 2rem;
  text-align: center;
}

.oak-survey-text-main h3 {
  font-size: 36px;
  font-weight: bold;
}

.oak-survey-text-main p {
  font-size: 32px;
  padding: 0 1.5rem;
}

.text-align-right {
  text-align: right;
}

.oak-survey-action-container {
  font-size: 20px;
  max-width: 450px;
  width: 100%;
  font-weight: 500;
  margin-right: 40px;
}

.oak-survey-action {
  display: grid;
  gap: 20px;
}

.oak-survey-action .oak-btn-secondary.btn {
  border-radius: 1rem !important;
}

.oak-survey-action a {
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}
