.oak-crypto_key {
    color: var(--primary-color);
    font-family: var(--cd500);
    font-size: 15px;
    line-height: normal;
}

.oak-crypto_value {
    color: var(--secondary-color);
}

.oak-crypto_updates {
    padding: 19px;
    border-bottom: 1px solid #D4D4D4;
    ;
}

@media (max-width:767px) {
    .oak-crypto_updates{
        flex-wrap: nowrap;
        overflow: auto;
    }
    .oak-crypto_key {
       flex-shrink: 0;
       display: inline-flex;
    }
    
}