.homeeeee{
    height: 910px;
    background-color: #DEDCDC;
    width: 100%;
    overflow-x: scroll;
    display: flex;
    padding: 20px;
    flex-direction: column;
}
.homeeeee .homeeeheader{
    height: 173px;
    background-color: #fff;
    width: 650px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.homeeeee .homeeeheader .homeeetop{
    height: 114px;
    width: 630px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.homeeeee .homeeeheader .homeeetop div{
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-evenly;
}
.homeeeee .homeeeheader .homeeetop div h1{
    color: #00002f;
    margin: 0;
    font-size: 14px;
    line-height: 12px;
}
.homeeeee .homeeeheader .homeeetop div .homeeeper{
    width: 100%;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.homeeeee .homeeeheader .homeeetop div .homeeeper h2{
    color: #00002f;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.homeeeee .homeeeheader .homeeetop div .homeeeper span{
    color: #fff;
    background-color: green;
    width: 50px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
}


.homeeeee .homeeeheader .homeeetop div h3{
    color: #00002f;
    font-size: 12px;
    margin: 0;
    line-height: 10px;
}
.homeeeee .homeeeheader .homeeetop .homeeeconnectedwallet{
    border-left: 1px solid #C6C2C2 ;
    border-right: 1px solid #C6C2C2 ;
}
.homeeeee .homeeeheader .homeeebottom{
    height: 25px;
    width: 630px;
    border-top: 1px solid #C6C2C2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.homeeeee .homeeeheader .homeeebottom div{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.homeeeee .homeeeheader .homeeebottom h1{
   font-size: 14px;
   font-weight: 700;
   color: #00002f;
}
.homeeeee .homeeeheader .homeeebottom .homeeepost{
    border-right: 1px solid #C6C2C2;
}

.secttt{
    width: 880px;
    margin-top: 40px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.secttt .homeeecommon{
    width: 430px;
    height: 300px;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 10px; padding: 10px;
    display: flex;
    flex-direction: column;
}

.secttt .homeeeplatformDiv  .homeeetop{
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: 0;
    padding-right: 10px;
    border: 0;
    align-items: start;
    border-radius: 0;
}
.secttt .homeeeplatformDiv  .homeeetop h1{
color: #00002f;
font-weight: 800;
font-size: 14px;
margin: 0;
}
.secttt .homeeeplatformDiv .graph{
    margin: 0;
    margin-top: 10px;
    height: 245px;
    width: 100%;
}


.secttt .homeeeconnectedDiv  .homeeetop{
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: 0;
    padding-right: 10px;
    border: 0;
    align-items: start;
    border-radius: 0;
}
.secttt .homeeeconnectedDiv  .homeeetop h1{
color: #00002f;
font-weight: 800;
font-size: 14px;
margin: 0;
}

.secttt .homeeeconnectedDiv .graph{
    margin: 0;
    margin-top: 10px;
    height: 245px;
    width: 100%;
}

.secttt .homeeepostDiv .homeeetop{
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: 0;
    padding-right: 10px;
    border: 0;
    align-items: start;
    border-radius: 0;
    border-bottom: 2px solid #FF4E00;
}
.secttt .homeeepostDiv .homeeetop h1{
color: #00002f;
font-size: 14px;
margin: 0;
font-weight: 800;
}

.secttt .homeeepostDiv .homeeetop h2{
color: rgba(0, 0, 46, 0.50);
font-size: 14px;
margin: 0;
margin-top: -5px;
}
.secttt .homeeepostDiv ul{
    height: 200px;
    margin-top: 10px;
    width: 100%;
    list-style: none;
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: space-evenly;
}
.secttt .homeeepostDiv ul li{
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 0;
    width: 100%;
    border-bottom:1px solid #C6C2C2;
}

.secttt .homeeepostDiv ul li h1{
  color: #00002f;
  padding: 0;
  margin: 0;line-height: 12px;
  font-size: 13px;
}

.secttt .homeeepostDiv ul li h2{
    color: rgb(0, 0, 46, 0.50);
    font-size: 10px;
  }


  .secttt .homeeepostDiv .homeeebottom{
    height: 45px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.secttt .homeeepostDiv .homeeebottom button{
    height: 30px;
    outline: 0;
    margin: 0;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #C6C2C2;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.secttt .homeeepostDiv .homeeebottom button h1{
   color: #00002f;
   font-size: 16px;
   margin: 0;
}
.secttt .homeeeodd{
    height: 620px;
    padding: 0;
    background-color: transparent;
}
.secttt .homeeeodd .homeeefirst{
    width: 100%;
    height: 220px;
    margin-bottom: 30px;
    background-color: #fff;
}

.secttt .homeeeodd .homeeefirst .homeeetop{
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: 0;
    padding-right: 10px;
    border: 0;
    align-items: start;
    border-radius: 0;
    border-bottom: 2px solid #FF4E00;
}
.secttt .homeeeodd .homeeefirst .homeeetop h1{
color: #00002f;
font-size: 14px;
margin: 0;
font-weight: 800;
}

.secttt .homeeeodd .homeeefirst .homeeebottom {
    width: 100%;
    margin: 0;
    height: 165px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.secttt .homeeeodd .homeeefirst .homeeebottom label{
   font-size: 10px;
   color: #00002f;
}
.secttt .homeeeodd .homeeefirst .homeeebottom li{
    height: 38px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #C6C2C2;
}

.secttt .homeeeodd .homeeefirst .homeeebottom li input{
    height: 38px;
    border: 0;
    outline: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 370px;
}

.secttt .homeeeodd .homeeefirst .homeeebottom li button{
    height: 38px;
    border: 0;
    background-color: #C6C2C2;
    color: #FF4E00;
    outline: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 40px;
}


.secttt .homeeeodd .second{
    width: 100%;
    height: 360px;
    background-color: #fff;
}

.secttt .homeeeodd .second .homeeetop{
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: 0;
    padding-right: 10px;
    border: 0;
    align-items: start;
    border-radius: 0;
    border-bottom: 2px solid #FF4E00;
}
.secttt .homeeeodd .second .homeeetop h1{
color: #00002f;
font-size: 14px;
font-weight: 800;
margin: 0;
}

.secttt .homeeeodd .second .homeeetop h2{
color: #FF4E00;
font-size: 20px;
margin: 0;
margin-top: -5px;
}
.secttt .homeeeodd .second .homeeebottom{
    height: 300px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.secttt .homeeeodd .second .homeeebottom li{
    display: flex;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid#C6C2C2;
}

.secttt .homeeeodd .second .homeeebottom li .names{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    margin: 0;
    margin-top: 10px;
    height: 50px;
}

.secttt .homeeeodd .second .homeeebottom li .names h1{
    color: #00002f;
    font-size: 16px;
    margin: 0;
    line-height: 14px;
}

.secttt .homeeeodd .second .homeeebottom li .names h2{
   color: #00002f;
   font-size: 10px;
}
.secttt .homeeeodd .second .homeeebottom li .view{
    width: 65px;
    border-radius: 10px;
    border: 1px solid #00002f;
    height: 26px;
    display: flex;
    background-color: #fff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.secttt .homeeeodd .second .homeeebottom li .view h1{
   font-size: 10px;
   margin: 0;
   color: #00002f;
}

