.oak-home-banner {
  padding: 60px;
  background-image: url("../../assets/images/BANN.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  /* overflow: hidden; */
}

.oak-banner-text {
  color: #fff;
  font-family: var(--cd500);
  font-size: 30px;
  line-height: normal;
}

.oak-banner-text p {
  font-family: Clash Display;
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
  color:  var(--secondary-color);
}

.oak-banner-header {
  color: #fff;
  font-family: var(--cd600);
  font-size: 60px;
  line-height: normal;
}

.oak-banner-sub-text {
  color: #fff;
  font-family: var(--cd300);
  font-size: 20px;
}

.oak-home__banner-img {
  top: 45px;
  right: 0px;
}

.mid {
  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: center;
  /* margin-top: 2%; */
  margin-bottom: 5%;
}

.mid-text {
  color:  var(--primary-color);
  font-family: var(--cd600);
  font-size: 38px;
  margin-bottom: 1.5%;
  line-height: normal;
  padding: auto 5%;
  text-align: center;
}

.oakWriter {
  position: fixed;
  top: 83%;
  left: 87%;
  cursor: pointer;
  z-index: 1000;
}

.buttons {
  display: flex;
  gap: 28px;
}

.button {
  background-color:  var(--secondary-color) !important;
  color: white;
  width: 135px;
  font-size: 14px;
  outline: none;
  border: 0;
  border-radius: 10px !important;
  height: 41px;
}

.featured {
  margin-top: 3%;
  margin-bottom: 3%;
  padding: auto 60px !important;
}

.featured h4 {
  font-weight: bold;
}

@media (max-width: 767px) {
  .oak-home-banner {
    padding: 30px 10px 0 10px;
    background-position: center;
    height: 220px;
    margin-bottom: 150px !important;
  }

  /* .oak-banner__text-wrapper {
    width: 100%;
    text-align: center;
  } */

  .oak-banner-text {
    font-size: 15px;
    margin-bottom: 7px;
  }

  .oak-banner-header {
    font-size: 27px;
    margin-bottom: 7px;
  }

  .oak-banner-sub-text {
    color: #fff;
    font-family: var(--cd300);
    font-size: 12px;
    line-height: normal;
  }

  .oak-home__banner-img {
    bottom: 0;
    right: 0;
    height: 345px;
    top: 55%;
  }

  .oak-home__banner-img img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }

  .mid-text {
  font-size: 24px;
  margin: 4%;
  }

  .oakWriter {
    bottom: 20%;
    left: 75%;
    width: 25%;
  }

  .buttons {
    margin-bottom: 4%;
  }

  .featured {
    line-height: 2;
    margin-bottom: 7%;
  }
}

