.oak-academy-banner__card {
    /* background: ; */
    height: 496px;
    flex-shrink: 0;
    padding: 40px 0 0 40px;
    background: url('../../assets/images/academyBg1.svg') right bottom no-repeat, url('../../assets/images/academyBg2.svg') right no-repeat, var(--secondary-color) !important;
    /* background-repeat: no-repeat; */
    background-position: right;
    background-size: cover;
    border-radius: 10px;
    width: 55%;

}

.oak-academy__banner-text {
    color: #FFF;
    font-family: var(--cd500);
    font-size: 48.79px;
    line-height: normal;
    width: 50%;
}

.oak-academy__banner_title {
    color: var(--primary-color);
    font-family: var(--cd600);
    font-size: 30px;
    font-style: normal;
}

.oak-academy__features {
    color: var(--primary-color);
    font-family: var(--cd500);
    font-size: 20px;
    line-height: normal;
}

.oak-academy__features.secondary {
    color: var(--secondary-color);
}

.oak-grid__article_img__wrapper {
    height: 300px;
    flex-shrink: 0;
    border-radius: 15px;
}

.oak-grid__article {
    border-radius: 15px;

}

.oak-main-article_details__wrapper {
    background: #ffff;
    border-radius: 0 0 10px 10px;
    background: #FFF;
    box-shadow: 10px 10px 30px 4px rgba(0, 0, 0, 0.15);
    padding: 8px 20px 20px 20px;
}

.oak-article__title {
    color: var(--primary-color);
    font-family: var(--cd500);
    font-size: 32px;
    margin-bottom: 34px !important;
}

.article-tag {
    color: #4D4D4D;
    font-family: var(--cd500);
    font-size: 10px;
    padding: 8px 14px;
    border-radius: 7px;
}

.article-tag.tag-1 {
    background-color: #CBDCFF;
    width: 100px;
}

.article-tag.tag-2 {
    background-color: #FDBFA3;
    width: 100px;
}

.article-tag.tag-3 {
    background-color: #FD97AC;
    width: 100px;
}

.dot-icon {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-flex;
    flex-shrink: 0;
}

.article-tag.tag-1 .dot-icon {
    background-color: #082B73;
}

.article-tag.tag-2 .dot-icon {
    background-color: #FF4E00;
}

.article-tag.tag-3 .dot-icon {
    background-color: #BF0A30;
}

.oak-video__course_wrapper {
    border-radius: 10px;
    border: 1px solid #CFCFCF;
    background: #FFF;
}

.oak-video__course_details__wrapper {
    padding: 0 30px;
}

.video-course__title {
    color: var(--primary-color);
    font-family: var(--cd600);
    font-size: 30px;
    margin-bottom: 38px;
}

.video-content__wrapper {
    margin-bottom: 40px;

}

.course-progress-bar {
    border-radius: 30px;
    background: #ECECEC;
    height: 10px;
    overflow: hidden;
    width: 60%;
}

.course-progress {
    height: 100%;
    background-color: var(--secondary-color);
    width: 87%;
    transition: width 0.3s ease;
}

.course-progress__percentage {
    color: var(--primary-color);
    font-family: var(--cd500);
    font-size: 20px;
}

.video-content_feature {
    margin-right: 50px;
    width: 100%;
}

.episode-time__count {
    color: #FFF;
    text-align: center;
    font-family: var(--cd500);
    font-size: 12px;
    right: 24px;
    bottom: 10px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(5px);

}

.assignment-wrapper {
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    padding: 24px 25px;
}

.assignment-title {
    color: var(--primary-color);
    font-family: var(--cd500);
    font-size: 15px;
}

.assignment-file-size {
    color: var(--primary-color);
    font-family: var(--cd500);
    font-size: 12px;
}

.episode-section_title {
    color: var(--primary-color);
    font-family: var(--cd500);
    font-size: 20px;
    margin-bottom: 24px;
}

.question-wrapper {
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    padding: 23px 20px;
    margin-bottom: 24px;
}

.question_title {
    color: var(--primary-color);
    font-family: var(--cd500);
    font-size: 15px;
}

.question-text {
    color: #000;
    font-family: var(--cd500);
    font-size: 15px;
}

@media (max-width:767px) {
    .oak-academy-banner__card {
        height: 275px;
        width: 100%;
        padding: 20px 0 0 20px;
        background-size: contain, 65% !important;
        margin-bottom: 20px;
    }

    .oak-academy__banner-text {

        font-size: 25.27px;
        width: 80%;
    }

    .oak-academy__banner_title {
        font-size: 18.003px !important;
    }

    .oak-academy__features {

        font-size: 12px;
        width: 100%;
    }

    .oak-news_logo__wrapper,
    .oak-news_logo__wrapper img {
        width: 19.705px;
        height: 19.705px;
        flex-shrink: 0;
        object-fit: cover;
        display: flex;
        margin-right: 11px;
    }

    .oak-grid__article_img__wrapper {
        height: 275px !important;

    }

    .oak-article__title {
        font-size: 25px;
        margin-bottom: 10px !important;
    }

    .article-tag {
        font-size: 12px;
        padding: 5px 10px;
    }

    .oak-video__course_wrapper {
        border-radius: 10px;
        border: none !important;
        background: #FFF;
        overflow: hidden;
    }

    .oak-video-course__cover-image img {
        width: 100% !important;
        /* height: 119.003px !important; */
        object-fit: cover;
    }

    .video-content__wrapper {
        margin-bottom: 10px;
    }

    .video-course__img_container {
        height: 240px !important;
        width: 100%;
        object-fit: cover;
        margin-bottom: 21px;
    }

    .oak-video_description {
        font-size: 12px !important;
    }

    .video-episode__img_wrapper {
        height: 112.7px !important;
        flex-shrink: 0;
    }

    .oak-video_episode__title {
        font-size: 12px !important;
    }

    .video-feature {
        font-size: 15px !important;
    }
}