.oak-academy-banner__card {
    /* background: ; */
    height: 496px;
    flex-shrink: 0;
    padding: 40px 0 0 40px;
    background: url('../../assets/images/academyBg1.svg') right bottom no-repeat, url('../../assets/images/academyBg2.svg') right no-repeat, var(--secondary-color) !important;
    /* background-repeat: no-repeat; */
    background-position: right;
    background-size: cover;
    border-radius: 10px;
    width: 55%;

}

.oak-academy__banner-text {
    color: #FFF;
    font-family: var(--cd500);
    font-size: 48.79px;
    line-height: normal;
    width: 50%;
}

.oak-academy__banner_title {
    color: var(--primary-color);
    font-family: var(--cd600);
    font-size: 30px;
    font-style: normal;
}

.oak-academy__features {
    color: var(--primary-color);
    font-family: var(--cd500);
    font-size: 20px;
    line-height: normal;
}

.oak-academy__features.secondary {
    color: var(--secondary-color);
}

.oak-grid__article_img__wrapper {
    height: 300px;
    flex-shrink: 0;
    border-radius: 15px;
}

.oak-main-article_details__wrapper {
    background: #ffff;
    border-radius: 0 0 10px 10px;
    background: #FFF;
    box-shadow: 10px 10px 30px 4px rgba(0, 0, 0, 0.15);
    padding: 8px 20px 20px 20px;
}

.oak-article__title {
    color: var(--primary-color);
    font-family: var(--cd500);
    font-size: 32px;
    margin-bottom: 34px !important;
}

.article-tag {
    color: #4D4D4D;
    font-family: var(--cd500);
    font-size: 15px;
    padding: 8px 14px;
    border-radius: 7px;
}

.article-tag.tag-1 {
    background-color: #CBDCFF;
}

.article-tag.tag-2 {
    background-color: #FDBFA3;
}

.article-tag.tag-3 {
    background-color: #FD97AC;
}

.dot-icon {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-flex;
    flex-shrink: 0;
}

.article-tag.tag-1 .dot-icon {
    background-color: #082B73;
}

.article-tag.tag-2 .dot-icon {
    background-color: #FF4E00;
}

.article-tag.tag-3 .dot-icon {
    background-color: #BF0A30;
}