.oak-sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 999;
    top: 0;
    backdrop-filter: 5px;
    transition: all 0.5s ease-in-out;
    display: none;
}


.oak-sidebar.show {
    display: block;
    background: rgba(0, 0, 0, 0.6);

}

.nav-item.mobile {
    margin-bottom: 20px;
}

.oak-left__sidebar {
    background: #fff;
    width: 0%;
    height: 100%;
    padding: 0 15px;
    display: none;
}
#dark .oak-left__sidebar{
    background-color: #00002F;
}
#dark .oak-connect{
    box-shadow: 4px 4px 0px 0px #fff;
    border-radius: 5px;
    color: #FFF;
    border: 1px solid #fff;
    background: #00002F;
}
.oak-sidebar.show.w-100 .oak-left__sidebar {
    display: block;
    width: 75%;

}

.oak-resourcess {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    padding: 0;
    gap: 10px;
    box-shadow: 4px 4px 0px 0px #00002F;
    border-radius: 5px;
    border: 1px solid #00002F;
    background: #FFF;
    height: 124px;
    width: 158px;
    z-index: 10;
    margin-bottom: 10px;
}
.takesurvey.mobile{
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-top: 0px;
    justify-content: left;
    align-items: center;
}
.takesurveybtn.mobile{
    margin-left: 10px;
}
.oak-resourcess ul {
    width: 100%;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-items__wrapper{
    height: fit-content;
}
.nav-item.mobile{
    height: fit-content;
}
.takesurveybtn.mobile{
    width: 51px;
    margin-bottom: 0 !important;
    height: 13px;
}
.oak-resourcess ul li {
    height: 25px;
    width: 141px;
    padding: 0;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}

.oak-resourcess ul li h3 {
    color: #00002F;
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-left: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.oak-resourcess ul li:hover {
    background-color: #FF4E00;
}

.oak-resourcess ul li:hover h3 {
    color: #FFF;
    font-weight: 500;
}

.oak-companyy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    padding: 0;
    gap: 10px;
    box-shadow: 4px 4px 0px 0px #00002F;
    border-radius: 5px;
    border: 1px solid #00002F;
    background: #FFF;
    height: 124px;
    width: 158px;
    z-index: 10;
    margin-bottom: 10px;
}

.oak-companyy ul {
    width: 100%;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.oak-companyy ul li {
    height: 25px;
    cursor: pointer;
    width: 141px;
    padding: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}

.oak-companyy ul li h3 {
    color: #00002F;
    font-size: 12px;
    padding: 0;
    margin: 0;
    margin-left: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.oak-companyy ul li:hover {
    background-color: #FF4E00;
}

.oak-companyy ul li:hover h3 {
    color: #FFF;
    font-weight: 500;
}

@media (max-width: 280px) and (min-width: 260px) {

    .oak-resourcess {
        height: 110px;
        width: 148px;
        z-index: 10;
        margin-bottom: 10px;
    }

    .oak-companyy {
        height: 110px;
        width: 148px;
        z-index: 10;
        margin-bottom: 10px;
    }


}