.oak-sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 999;
    top: 0;
    backdrop-filter: 5px;
    transition: all 0.5s ease-in-out;
    display: none;
}


.oak-sidebar.show {
    display: block;
    background: rgba(0, 0, 0, 0.6);

}

.nav-item.mobile {
    margin-bottom: 20px;
}

.oak-left__sidebar {
    background: #fff;
    width: 0%;
    height: 100%;
    padding: 0 15px;
    display: none;
}

.oak-sidebar.show.w-100 .oak-left__sidebar {
    display: block;
    width: 75%;

}