* {
  padding: 0;
  margin: 0;
  font-family: "ClashDisplay-Medium";
}

.modal-content {
  border-radius: 23px;
  overflow: hidden;
  background: none;
  background-color: #fff;
  width: 1400px;
  /* height: 450px; */
  padding: 40px 25px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.top {
  display: flex;
  justify-content: space-between;
}

.name {
  background-color: #efefff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
}

.initial {
  background-color: #00002f;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.initial p {
  color: #ff4e00;
  font-weight: bold;
  font-size: 1.5rem;
}

.full {
  padding-left: 20px;
  margin-top: 12px;
}

.inputBox {
  padding: 2%;
  width: 80%;
  height: 280px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.icon {
  background-color: #efefff;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
}

.icon-extra {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  font-size: smaller;
  background-color: #efefff;
  border-radius: 24px;
}

.icon-extra p {
  margin-top: 10px;
}

.button {
  background-color: #00002f;
  color: white;
  border-radius: 48px;
  padding: 2.5% 8%;
}

/* .contentInput{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FF4E00;
}
.inp{
    width: 100%;
    padding: 0;
    border: 0;
    outline: 0;
    height: 35px;
    color: #00000094;
}

.contentText{
    width: 100%;
    height: 170px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FF4E00;
}
.texta{
    width: 100%;
    border: 0;
    padding: 0;
    outline: 0;
    height: 165px;
    color: #00000094;
}
.contentBottom{
    margin-top: 10px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conTainBot{
    height: 30px;
    width: 245px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.conTainBot img{
    width: 25px;
    cursor: pointer;
    height: 25px;
}
.publishBtn{
    height: 25px;
    border: 0;
    outline: 0;
    box-shadow: 1px 2px 0px 1px #0000005d;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF4E00;
    border-radius: 10px;
}
.publishBtn .hh1{
    font-size:14px;
    margin: 0;
    color: #fff;
} */

@media (max-width: 767px) {
  .bottom {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 7%;
  }
  .icons {
    justify-content: start;
    align-items: start;
  }
}
