.oak-task_card {
    padding: 26px;
    border-radius: 10px;
    border: 1px solid #CFCFCF;
    background: #FFF;
}

.oak-task-brand {
    color: var(--primary-color);
    font-family: var(--cd500);
    font-size: 13px;
    line-height: normal;
}
.oak-stats__icon{
width: 9px;
height: 9px;
}
.oak-news__stats{
    font-size: 9px;
    margin-top: 15px;
    margin-left: 15px;
}
.oak-task-title {
    color: var(--primary-color);
    font-family: var(--cd500);
    font-size: 20px;
    font-style: normal;
    /* margin-bottom: 8px; */
}

.oak-task__description {
    color: var(--primary-color);
    font-family: var(--cd500);
    font-size: 12px;
    line-height: normal;
    margin-bottom: 23px;
}

@media (max-width:767px) {
   
.oak-stats__icon{
    width: 16px !important;
    height: 16px !important;
    } 
.oak-news__stats{
    font-size: 9px;
    margin-top: 0px;
    margin-left: 10px;
}
    .oak-task__description {
        font-size: 10px;
    }

    .oak-task-title {

        font-size: 15px;

    }

    .oak-task_card {
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #CFCFCF;
        background: #FFF;
    }

    .home-mobile_task-center {
        scroll-snap-type: x mandatory;
    }

    .home-mobile_task-center .oak-task_card {
        width: 90%;
        margin-right: 20px;
        flex-shrink: 0;
        scroll-snap-align: center;
    }


}