/* * { */
/* color: #00002F; */
/* font-family: "ClashDisplay-Medium"; */
/* } */

.category-section {
  display: flex;
  justify-content: space-between;
  padding: auto 10% !important;
}

.categories {
  display: flex;
  gap: 5px;
}

.category {
  border: 1px solid #00002f;
  border-radius: 24px;
  padding: 1px 10px;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.filter-icons {
  display: flex;
  gap: 10px;
}

.box {
  border-radius: 8px;
  background-color: #efefff;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid img,
.list img {
  width: 70%;
}

.color {
  background-color: #00002f;
}

.filter {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: auto 4% !important;
}

.filter-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-text img {
  width: 25%;
}

.filter-text p {
  margin: 0;
  font-size: 14px;
}

.drop {
  width: 10%;
}

/* Post Styles */

.post {
  border: 1px solid #584d4d;
  width: 45vw;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.poster {
  display: flex;
  align-items: center;
  gap: 7px;
}

.p-button {
  padding: 0.5% 2%;
  border: 1px solid #ff4e00;
  border-radius: 8px;
  background-color: #e7bfad;
  color: #ff4e00;
}

.post-text {
  /* font-size: 16px; */
}

.see-more {
  color: #ff4e00;
}

.post-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.post-actions p {
  font-size: 14px;
  margin: 0;
}

.post-actions div {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Post Styles */

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 5%;
}
