/* * { */
/* color: #00002F; */
/* font-family: "ClashDisplay-Medium"; */
/* } */

.category-section {
  display: flex;
  justify-content: space-between;
  padding: auto 10% !important;
}

.categories {
  display: flex;
  gap: 5px;
}

.category {
  border: 1px solid #00002f;
  border-radius: 24px;
  padding: 1px 10px;
  font-size: 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.highlighted {
  background-color: #00002f;
  color: #FFF;
}

.filter-icons {
  display: flex;
  gap: 10px;
}

.box {
  border-radius: 8px;
  background-color: #efefff;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.grid img,
.list img {
  width: 70%;
}

.color {
  background-color: #00002f;
}

.filter {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: auto 4% !important;
  position: relative;
}

.filter-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-text img {
  width: 25%;
}

.filter-text p {
  margin: 0;
  font-size: 14px;
}

.drop {
  width: 10%;
}

.dropdown-menuu {
  display: flex;
  flex-direction: column;
  width: 158px;
  align-items: flex-start;
  border-radius: 10px;
  gap: 10px;
  padding: 0;
  height: 70px;
  top: 30px;
  position: absolute;
  box-shadow: 4px 4px 0px 0px #00002F;
  border-radius: 5px;
  border: 1px solid #00002F;
  background: #FFF;
  position: absolute;
  z-index: 10;
}

.dropdown-menuu ul {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-menuu ul li {
  height: 25px;
  cursor: pointer;
  width: 141px;
  padding: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
}

.dropdown-menuu ul li h3 {
  color: #00002F;
  font-size: 12px;
  padding: 0;
  margin: 0;
  margin-left: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dropdown-menuu ul li:hover {
  background-color: #FF4E00;
}

.dropdown-menuu ul li:hover h3 {
  color: #FFF;
  font-weight: 500;
}

/* Post Styles */

.post {
  width: 45vw;
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: 1px solid #D4D4D4;
}

.post:nth-child(even) {
 padding-left: 2%;
}

.post:nth-child(odd) {
 border-right: 1px solid #D4D4D4;
 padding-right: 2%;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3%;
}

.poster {
  display: flex;
  align-items: center;
  gap: 7px;
}

.p-button {
  padding: 0.5% 2%;
  border: 1px solid #ff4e00;
  border-radius: 8px;
  background-color: rgba(255, 78, 0, 0.1);
  color: #ff4e00;
}

.see-more {
  color: #ff4e00;
  margin-left: 5px;
}

.post-actions {
  display: flex;
  align-items: center;
  gap: 10%;
}

.post-actions p {
  font-size: 14px;
  margin: 0;
}

.post-actions div {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Posts Styles */

.posts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2%;
}

/* PostList Styles */

.img-demo {
  width: 30vw;
  height: 70%;
  background-color: #D9D9D9;
}

.mobile {
  display: none;
}

.postList {
  display: flex;
  align-items: center;
  gap: 20px;
  border-top: 1px solid #D4D4D4;
}

.postList .post {
  width: unset;
  border: none;
}

.postList .post-text {
  width: 58vw;
}

@media (max-width: 767px) {
  .filter-icons {
    display: none;
  }

  .category-section {
    width: 90vw;
    overflow: scroll;
    margin-bottom: 10%;
  }

  .posts {
    display: block;
  }

  .post {
    width: unset;
    margin-bottom: 5%;
    padding-top: 5%;
  }
   
   .post:nth-child(odd) {
    border-right: none;
   }

   .mobile {
    display: block;
    width: 100%;
    height: 150px;
    margin-bottom: 6%;
   }
}