.oak-nav-item_wrapper {
    padding: 12px;
    border-bottom: 1px solid #D4D4D4;
}

.nav-link {
    text-decoration: none !important;
}

.oak-nav-item_wrapper .nav-link {
    color: var(--primary-color) !important;
    font-family: var(--cd500);
    font-size: 15px;
    text-decoration: none !important;
    line-height: normal;
    position: relative;
}

.oak-nav-item_wrapper .nav-link.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
    bottom: -18.5px;
    left: -3px;
    border-radius: 5px;
}

.oak-search__wrapper {
    border-radius: 3px;
    background: #F0F0F0;
    padding: 10px 16px;
}

.oak-search__wrapper.select {
    padding: 10px 20px;
}

.oak-search__wrapper input,
.oak-search__wrapper input:active,
.oak-search__wrapper input:focus {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    padding: unset !important;
    cursor: pointer !important;
}

.oak-search__wrapper input::placeholder {
    color: #868686;
    font-family: var(--cd500);
    font-size: 12px;
    font-style: normal;
}


.oak-language__select {
    font-family: var(--cd500);
    background: url('../../../assets/images/selectDropdown.svg') no-repeat scroll 0px 0px;
    background-position: 100% 58%;
    padding-left: 0px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0 20px 0px 1px;
    /*Add Background*/

}

.dropdown-menuu {
    display: flex;
    flex-direction: column;
    width: 158px;
    align-items: flex-start;
    border-radius: 10px;
    gap: 10px;
    padding: 0;
    height: 70px;
    top: 30px;
    position: absolute;
    box-shadow: 4px 4px 0px 0px #00002F;
    border-radius: 5px;
    border: 1px solid #00002F;
    background: #FFF;
    position: absolute;
    z-index: 10;
}

.dropdown-menuu ul {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown-menuu ul li {
    height: 25px;
    cursor: pointer;
    width: 141px;
    padding: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}

.dropdown-menuu ul li h3 {
    color: #00002F;
    font-size: 12px;
    padding: 0;
    margin: 0;
    margin-left: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dropdown-menuu ul li:hover {
    background-color: #FF4E00;
}

.dropdown-menuu ul li:hover h3 {
    color: #FFF;
    font-weight: 500;
}