.oak-nav-item_wrapper {
    padding: 12px;
    border-bottom: 1px solid #D4D4D4;
}

.nav-link {
    text-decoration: none !important;
}

.oak-nav-item_wrapper .nav-link {
    color: var(--primary-color) !important;
    font-family: var(--cd500);
    font-size: 15px;
    text-decoration: none !important;
    line-height: normal;
    position: relative;
}

.oak-nav-item_wrapper .nav-link.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
    bottom: -18.5px;
    left: -3px;
    border-radius: 5px;
}

.oak-search__wrapper {
    border-radius: 3px;
    background: #F0F0F0;
    padding: 10px 16px;
}

.oak-search__wrapper.select {
    padding: 10px 20px;
}

.oak-search__wrapper input,
.oak-search__wrapper input:active,
.oak-search__wrapper input:focus {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    padding: unset !important;
    cursor: pointer !important;
}

.oak-search__wrapper input::placeholder {
    color: #868686;
    font-family: var(--cd500);
    font-size: 12px;
    font-style: normal;
}


.oak-language__select {
    font-family: var(--cd500);
    background: url('../../../assets/images/selectDropdown.svg') no-repeat scroll 0px 0px;
    background-position: 100% 58%;
    padding-left: 0px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0 20px 0px 1px;
    /*Add Background*/

}