@font-face {
 font-family: 'Clash Display';
 src: url('../../assets/font/fonts/ClashDisplay-Regular.woff2') format('woff2'),
  url('../../assets/font/fonts/ClashDisplay-Regular.woff') format('woff'),
  url('../../assets/font/fonts/ClashDisplay-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

.oak-modal__card .modal-content {
 width: 1000px;
 padding: 0;
 margin: 0;
 border: 0;
 height: 631px;
 display: flex;
 flex-direction: column;
 align-items: center;
 border-radius: 10px !important;
 background-color: #FFFFFF;
}

.mobileView {
 display: none;
}

.desktopView {
 display: flex;
 width: 100%;
 height: 100%;
 flex-direction: column;
 align-items: center;
}

.desktopView .Top {
 height: 347px;
 width: 100%;
 display: flex;
 flex-direction: column;
 padding: 0;
 border: 0;
 align-items: center;
 background: url('../../assets/images/userP/lines.svg'), linear-gradient(#00002F, #00002F);
 border-radius: 10px;
}

.desktopView .accountTopp {
 width: 890px;
 height: 96px;
 margin-bottom: 10px;
 border: 0;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: end;
}

.desktopView .accountTopp h3 {
 color: #FFFFFF;
 margin: 0;
 height: 47px;
 display: flex;
 flex-direction: row;
 align-items: end;
 padding: 0;
 font-family: 'Clash Display';
 font-size: 25px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 padding-bottom: 7px;
}

.desktopView .accountTopp button {
 width: 47px;
 background-color: transparent;
 height: 47px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 border: 0;
}

.desktopView .accountTopp button img {
 width: 47px;
 height: 47px;
 background-color: transparent;
 object-fit: cover;
}

.desktopView .oakC {
 height: 32px;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.desktopView .oakC img {
 height: 31px;
 width: 23px;
 margin: 0;
 padding: 0;
 margin-right: 10px;
}

.desktopView .oakC h3 {
 color: #FFF;
 margin: 0;
 padding: 0;
 font-family: 'Clash Display';
 font-size: 25px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
}

.desktopView .amounT {
 color: #FFF;
 font-family: 'Clash Display';
 font-size: 60px;
 font-style: normal;
 font-weight: 800;
 margin-bottom: 24px;
 line-height: normal;
}

.desktopView .buttonss {
 width: 100%;
 height: 112px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 border-bottom-right-radius: 10px;
 border-bottom-left-radius: 10px;
 background: linear-gradient(#00002F, #00002F);
}

.desktopView .btnHolder {
 width: 400px;
 height: 100%;
 background-color: transparent;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

.desktopView .btnHolder div {
 height: 100%;
 width: 70px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.desktopView .btnHolder div button {
 height: 70px;
 width: 70px;
 background-color: #FF4E00;
 border: 0;
 outline: none;
 margin-bottom: 5px;
 border-radius: 50%;
}

.desktopView .btnHolder div button img {
 object-fit: contain;
}

.desktopView .btnHolder div h3 {
 color: #FFF;
 text-align: center;
 font-family: 'Clash Display';
 font-size: 15px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
}

.desktopView .navbar {
 display: flex;
 align-items: center;
 background-color: #FFFFFF;
 padding: 10px;
 justify-content: center;
 position: relative;
}

.desktopView .nab {
 width: 882px;
 padding: 0;
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
}

.desktopView .tab {
 width: 200px;
 color: #00002F;
 font-family: 'Clash Display';
 font-size: 20px;
 font-style: normal;
 text-align: center;
 font-weight: 700;
 line-height: normal;
 cursor: pointer;
 transition: color 0.3s ease-in-out;
}

.desktopView .navbar .nab .nav-item .nav-link {
 color: #00002F;

}

.desktopView .navbar .nab .nav-item .nav-link.active {
 background-color: transparent;
 border: none;
 color: inherit;
 box-shadow: none;
}

.desktopView .navbar .nab .nav-item .nav-link:hover {
 background-color: transparent;
 border: none;
 color: inherit;
 box-shadow: none;
}

.desktopView .active-bar {
 position: absolute;
 height: 3px;
 top: 50px;
 width: 294px;
 background-color: #FF4E00;
 bottom: 0;
 transition: left 0.3s ease-in-out;
}

.desktopView .trans {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

.desktopView .trans h3 {
 color: #00002F;
 font-family: 'Clash Display';
 font-size: 20px;
 font-style: normal;
 text-align: center;
 font-weight: 700;
 line-height: normal;
}

.desktopView .tokens {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

.desktopView .tokens h3 {
 color: #00002F;
 font-family: 'Clash Display';
 font-size: 20px;
 font-style: normal;
 text-align: center;
 font-weight: 700;
 line-height: normal;
}

.desktopView .nft {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

.desktopView .nft h3 {
 color: #00002F;
 font-family: 'Clash Display';
 font-size: 20px;
 font-style: normal;
 text-align: center;
 font-weight: 700;
 line-height: normal;
}

.desktopView .detailTab {
 width: 800px;
 height: 220px;
 overflow-y: scroll;
 scroll-behavior: smooth;
}

@media (max-width: 999px) and (min-width: 280px) {
 .modal.oak-modal__card {
  width: 100% !important;
  height: 100% !important;
  padding: 0;
  margin: 0;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
 }

 .oak-modal__card .modal-dialog {
  width: 100% !important;
  height: 100% !important;
  padding: 0;
  justify-content: center;
  align-items: start;
  margin: 0;
  top: 0;
 }

 .desktopView {
  display: none;
 }

 .oak-modal__card .modal-content {
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px !important;
  background-color: #FFFFFF;
 }

 .mobileView {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
 }

 .mobileView .Top {
  height: 347px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
  align-items: center;
  background: url('../../assets/images/userP/lines.svg'), linear-gradient(#00002F, #00002F);
  border-radius: 10px;
 }

 .mobileView .accountTopp {
  width: 95%;
  height: 96px;
  margin-bottom: 10px;
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
 }

 .mobileView .accountTopp h3 {
  color: #FFFFFF;
  margin: 0;
  height: 47px;
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 0;
  font-family: 'Clash Display';
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 7px;
 }

 .mobileView .accountTopp button {
  width: 30px;
  background-color: transparent;
  height: 30px;
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0;
 }

 .mobileView .accountTopp button img {
  width: 30px;
  height: 30px;
  background-color: transparent;
  object-fit: cover;
 }

 .mobileView .oakC {
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .mobileView .oakC img {
  height: 31px;
  width: 23px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
 }

 .mobileView .oakC h3 {
  color: #FFF;
  margin: 0;
  padding: 0;
  font-family: 'Clash Display';
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
 }

 .mobileView .amounT {
  color: #FFF;
  font-family: 'Clash Display';
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 24px;
  line-height: normal;
 }

 .mobileView .buttonss {
  width: 100%;
  height: 112px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: linear-gradient(#00002F, #00002F);
 }

 .mobileView .btnHolder {
  width: 400px;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }

 .mobileView .btnHolder div {
  height: 100%;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .mobileView .btnHolder div button {
  height: 70px;
  width: 70px;
  background-color: #FF4E00;
  border: 0;
  outline: none;
  margin-bottom: 5px;
  border-radius: 50%;
 }

 .mobileView .btnHolder div button img {
  object-fit: contain;
 }

 .mobileView .btnHolder div h3 {
  color: #FFF;
  text-align: center;
  font-family: 'Clash Display';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
 }

 .mobileView .navbar {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  padding: 10px;
  width: 95%;
  justify-content: center;
  position: relative;
 }

 .mobileView .nab {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
 }

 .mobileView .tab {
  width: 33.3%;
  display: contents !important;
  color: #00002F;
  font-family: 'Clash Display';
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
 }

 .mobileView .navbar .nab .nav-item .nav-link {
  color: #00002F;
  width: 33.3%;
 }

 .mobileView .navbar .nab .nav-item .nav-link.active {
  background-color: transparent;
  border: none;
  color: inherit;
  box-shadow: none;
 }

 .mobileView .navbar .nab .nav-item .nav-link:hover {
  background-color: transparent;
  border: none;
  color: inherit;
  box-shadow: none;
 }

 .mobileView .active-bar {
  position: absolute;
  height: 3px;
  top: 50px;
  width: 33.3%;
  background-color: #FF4E00;
  bottom: 0;
  transition: left 0.3s ease-in-out;
 }

 .mobileView .trans {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  overflow-y: scroll;
 }

 .mobileView .trans h3 {
  color: #00002F;
  font-family: 'Clash Display';
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: normal;
 }

 .mobileView .tokens {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  overflow-y: scroll;
 }

 .mobileView .tokens h3 {
  color: #00002F;
  font-family: 'Clash Display';
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: normal;
 }

 .mobileView .nft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  overflow-y: scroll;
 }

 .mobileView .nft h3 {
  color: #00002F;
  font-family: 'Clash Display';
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: normal;
 }

 .mobileView .detailTab {
  width: 800px;
  height: 220px;
  overflow-y: scroll;
  scroll-behavior: smooth;
 }
}